<div id="arun">
  <h3 class="margin-base-vertical text-center">Arunkumar Muralidharan</h3>
  <p class="text-justify">I have always believed that testing is a key component of building remarkable software. I have been the first tester at two start-ups, tested early versions of several products, set up testing infrastructure from scratch, introduced good testing habits, and built and led teams. I know firsthand how much a structured and flexible approach to testing, in an otherwise chaotic start-up environment, helps to produce stable software. I decided to devote my career to testing.</p>
  <p class="text-justify">I started my career as a modeling engineer for a highly analytical product that simulated computer networks. Since I like mathematics, I was drawn to validating the data produced by the tool. This led to developing testing scenarios, automating them, building and maintaining a lab. I introduced Selenium automation for the application way back in 2007-2008 when online support for Selenium was extremely sparse.</p>
  <p class="text-justify">Then I decided to help a cool healthcare startup. I joined as their very first tester. There, I inherited a very real business problem. Their flagship product was undergoing a UI overhaul. The product was stuck in "development-complete" state for months without being deployed to production because business users repeatedly found issues. In two months,  I put up tests for key areas, automated high value areas and signed off on a successful release. Since then, our agile teams got into the rhythm of deploying software every two weeks. I helped interview, hire and build the testing team. Before I knew it, I was managing 5 testers and setting the direction for QA efforts of two products. I am proud to say that my team helped <a href="http://qxf2.com/testimonials">drastically improve the quality of their software</a>.</p>
  <p class="text-justify">I loved my experience in the US. However, for personal reasons, I needed to move back to India. This is how Qxf2 was born. I have been lucky to hire excellent testers to form Team Qxf2. We focus on solving problems startups face when trying to establish testing. Qxf2 testers follow <a href="http://qxf2.com/approach">an approach</a> that will lay a solid foundation for your testing. We have done it for other startups and are certain we can do it for you.</p>
  <p class="text-justify">Apart from testing, I love math, chess and dogs. Contact me at mak@qxf2.com, if you want to discuss any of these.</p>
</div>

<div id="raji">
  <h3 class="margin-base-vertical text-center">Rajeswari Gali</h3>
  <p class="text-justify">I have around 10 years of experience in QA , working at USA for about 3 years with different clients directly as onsite coordinator added great experience to my QA career . It was great opportunity to work with reputed clients like E*Trade financial services , Bank of Newyork Mellon , Key Bank , Thomson Reuters & Pascal metrics.</p>
  <p class="text-justify">Besides to experience in functional/automation/performance/API & Database testing with good understanding on QA tools, process and methodologies, working as a QA helped me gaining domain experience in trading , banking & investments and health care.</p> 
  <p class="text-justify">My prior experience is with large companies like cognizant & HCL as a QA lead. I'm glad chose to work for start up because of learning curve ,flat structure that gives freedom to closely work with higher level management and an opportunity to see higher level management thinking patterns and work culture .</p> 
  <p class="text-justify">My strengths are analysis, have keen eye for attention to details & very fast learner . On a personal note my hobbies are listening to music , organic farming and taking care of cats & dogs.</p>
</div>

<div id="deepthi">
  <h3 class="margin-base-vertical text-center">Deepthi Sathish</h3>
  <p class="text-justify">I love delivering high quality products on a consistent basis. I started my QA career with Ad Trafficking for Microsoft. I went on to test multiple web applications with technology stacks as varied as LAMP and MEAN to .NET, Siebel and Citrix. As an early QA engineer at the Bangalore branch of Bally Technologies, I helped build and grow the QA team. I have been <a href="https://www.linkedin.com/pub/deepthi-sathish/5/977/306">highly commended</a> for my work and have been honoured with various awards. I blog about my testing journey @ <a href="http://deepthisathish.blogspot.in/">deepthisathish.blogspot.in</a>.</p>
</div>

<div id="rupesh">
  <h3 class="margin-base-vertical text-center">Rupesh Mishra</h3>
  <p class="text-justify">I tinker with technology. I constantly explore new test ideas and test tools. Along the way, I have picked up Python, Selenium, Java, JUnit, Jasmine and Django. I share what I learn <a href="http://qxf2.com/blog/author/rupesh">here</a>. You can contact me via <a href="http://in.linkedin.com/pub/rupesh-mishra/42/25/4a3">LinkedIn</a>, <a href="https://twitter.com/RupeshMishra21">Twitter</a> and at <b>&#114;&#117;&#112;&#101;&#115;&#104;&#064;&#113;&#120;&#102;&#050;&#046;&#099;&#111;&#109</b>. Beside testing, I like playing cricket, football, squash and listening to music.</p>
</div>

<div id="saurabh">
  <h3 class="margin-base-vertical text-center">Saurabh Chhabra</h3>
<p class="text-justify">I am Saurabh Chhabra, born in Haridwar, India. I work as a QA Manager at Qxf2. I am passionate about improving the quality of software. I test products with the end user in mind. I make sure that the product is usable and has no critical functional or performance issues.</p> 
<p class="text-justify">I started my software testing career in 2003. I have worked in Wall Street, New York with leading financial clients like Standard & Poor's and Liquidnet. I have also worked with  H&R Block, Deloitte, WellPoint and Toyota. I have played different roles in different teams - tester, lead, test architect.</p>
<p class="text-justify">I publish testing articles on <a href="https://www.linkedin.com/in/saurabhchhabra">Linkedin</a>. For example, here is my post on the <a href="https://www.linkedin.com/pulse/value-software-testing-saurabh-chhabra">Value of Software Testing</a>. I also have a Youtube channel where I create videos on testing. My <a href="https://www.youtube.com/watch?v=iOCXGSbDYGE">JMeter Tutorial</a> is popular.</p>
<p class="text-justify">Personally I am passionate about running. I also spend my time working out in the gym. My favorite sports are cricket, tennis, football, swimming, racquetball. I play and follow every outdoor sports I can based on my schedule and the local friends. I also love traveling a lot. I have explored many parst of India and United States.</p>
<p class="text-justify"> Connect with me on <a href="https://www.linkedin.com/in/saurabhchhabra">Linkedin</a> and <a href="https://twitter.com/saurabchhabra">Twitter</a>.</p>
</div>

<div id="avinash">
  <h3 class="margin-base-vertical text-center">Avinash Shetty</h3>
  <p class="text-justify">I am a software tester with over 8 years of experience in software testing. Currently I am working at Qxf2 Services Bangalore. As a student of the context-driven approach to software testing I feel there is a lot to learn out there which keeps me very excited. My work has helped me gain good experience in different areas of testing like CRM, Web, Mobile and Database testing. I have good knowledge of building test scripts using Automation tools like Selenium and Appium using Java and Python. Beside testing I am a "Sports Fanatic" and love watching and playing sports.</p>
</div>

<div id="vrushali">
  <h3 class="margin-base-vertical text-center">Vrushali Toshniwal</h3>
<p class="text-justify">
To test is human. My journey as a tester started at Sun Microsystems (now Oracle). I was part of the testing and sustaining team for the Portal Server and Identity Management products. My first assignment was to test the <a href="https://docs.oracle.com/cd/E19636-01/819-2582/6n4s3inds/index.html#adddn">Rewriter</a> module. I enjoyed understanding the big picture, writing test cases, finding bugs and sometimes suggesting the fix too! I was hooked onto testing. Testing felt natural and intuitive to me. I am technically inclined and can write automation in Java, C++, Perl and Python. I am well versed with SilkTest, Selenium, Appium and Selendroid. I am a Computer Science graduate from BITS-Pilani. I blog <a href="http://qxf2.com/blog/author/vrushali/">here</a>. I love travelling and listening to music.
</p>
</div>

<!-- TESTIMONIALS START HERE. UGLY. BUT WHATEVER.-->
<div id="natasha">
  <p class="text-justify"> I have worked closely with Arun and several members of the Qxf2 team for several years now. It has been an absolute pleasure working with this group. Working with large and complex data structures and statistical algorithms, Qxf2 has been critical to our success of delivering valid and reliable data under short timeframes to our clients partners.</p> 
  <p class="text-justify"> Many people may be wary of working with a company located on a different continent; however, Arun and his team are masters at working remotely. There are some days that I speak with Arun and Saurabh more than other team members physically located in the same office.</p>
  <p class="text-justify"> Thank you Qxf2 for always making sure our data and software live up to our clients exceptionally high standards!</p>
  <p class="text-right testimonial"><strong>Natasha Scott</strong>, VP, Scientific Instruments @ Pascal Metrics</p>
</div>
<div id="prashanth">
  <p class="text-justify">I approached Qxf2 when our manual testing process could not keep up with our agile development and biweekly releases of our SaaS application. Avinash was assigned to understand, suggest and implement an automated test suite which our team could build upon. In two weeks Avinash with his offshore team was able to understand the loop holes in our test process, able to suggest tools to make our process better and implemented an automated end-to-end test suite in Python Selenium with pretty much <i>no management overhead</i>.</p>
  <p class="text-right testimonial"><strong>Prashanth Shenoy Katpady</strong>, CTO @ UniCourt</p>
</div>
<div id="andres">
  <p class="text-justify">Working with the folks at Qxf2 has been an absolute pleasure. They are some of the best QA Engineers I have had the privilege to work closely with. They integrated right with our team from scrums, to daily hangouts where we discussed tasks, bugs, issues, and approaches to developing software in a way that both ensures high velocity and allows for testability. They worked closely with stakeholders to determine priority of any issues/defects they found as well as worked closely with developers to find solutions and workarounds to mitigate the impact of said issues. The offset in time was a boon to our productivity since they were able to test functionality delivered overnight and inform developers of any defects found with reproducible steps and established priority for fixing first thing in the morning. However that offset did not negatively impact the team since they were present throughout the morning into the middle of the afternoon. All in all Qxf2 allowed us to be a hyper effective software engineering team and I would highly recommend anyone use their services!</p>
  <p class="text-right testimonial"><strong>E. Andres Holzer-Torres</strong>, Software Engineer @ Pascal Metrics</p>
</div>
<div id="katie">
  <p class="text-justify">As a client services team member at a small startup software company, Qxf2 provided a much needed QA role for our team. Prior to having Arun and the Qxf2 team work with us, we did not have a formal QA process. Their ability to help us in client services understand the process and plan for deploys to our platform was critical to our continued success. We quickly went from regular post deploy bug fixes with emergency deploys to an environment where they have become extremely rare! I highly recommend the team at Qxf2 for a job well done, and commitment to excellence.</p>
  <p class="text-right testimonial"><strong>Katie Stauffer</strong>, Senior Manager, Client Services @ Pascal Metrics</p>
</div>
<div id="adam">
  <p class="text-justify">Qxf2 was a great partner for our testing needs.  Arun's experience onsite with clients in the US means that he understands how software gets built and how to effectively test it.  When using an offshore team it's critical for the team to be managed by someone who has this understanding.  The whole team made the effort to  understand our product, which is key to developing a test strategy and then executing on it.  Every member of the team we worked with was smart and dedicated, and we were able to rely on them to go beyond just getting their job done.  I couldn't be happier with the experience we had with Qxf2!</p>
  <p class="text-right testimonial"><strong>Adam Hahn</strong>, Director of Engineering @ Pascal Metrics</p>
</div>
<div id="jacob">
  <p class="text-justify">Qxf2's engineers are both fast and thorough. Their unique mix of automation and pro-active communication allowed our development team to deliver the highest quality software very rapidly.</p>
  <p class="text-right testimonial"><strong>Jacob Heric</strong>, Lead developer @ Pascal Metrics</p>
</div>
