
<div id="natasha">
  <div class="col-md-3 vcenter">
    <img src="./assets/img/testimonials/natasha.jpg" class="img-responsive img-circle col-lg-12">	
  </div>
  <div class="col-md-9 vcenter">
    <p class="text-justify testimonial"> I have worked closely with Arun and several members of the Qxf2 team for several years now. It has been an absolute pleasure working with this group. Working with large and complex data structures and statistical algorithms, Qxf2 has been critical to our success of delivering valid and reliable data under short timeframes to our clients partners.</p> 
    <p class="text-justify testimonial"> Many people may be wary of working with a company located on a different continent; however, Arun and his team are masters at working remotely. There are some days that I speak with Arun and Saurabh more than other team members physically located in the same office.</p>
    <p class="text-justify testimonial"> Thank you Qxf2 for always making sure our data and software live up to our clients exceptionally high standards!</p>
    <p class="text-right testimonial"><strong>Natasha Scott</strong>, VP, Scientific Instruments @ Pascal Metrics</p>
  </div>
</div>

<div id="prashanth">
  <div class="col-md-3 vcenter">
    <img src="./assets/img/testimonials/prashanth.jpg" class="img-responsive img-circle col-lg-12">	
  </div>
  <div class="col-md-9 vcenter">
    <p class="text-justify testimonial">I approached Qxf2 when our manual testing process could not keep up with our agile development and biweekly releases of our SaaS application. Avinash was assigned to understand, suggest and implement an automated test suite which our team could build upon. In two weeks Avinash with his offshore team was able to understand the loop holes in our test process, able to suggest tools to make our process better and implemented an automated end-to-end test suite in Python Selenium with pretty much <i>no management overhead</i>.</p>
    <p class="text-right testimonial"><strong>Prashanth Shenoy Katpady</strong>, CTO @ UniCourt</p>
  </div>
</div>

<div id="andres">
  <div class="col-md-3 vcenter">
    <img src="./assets/img/testimonials/andres.png" class="img-responsive img-circle col-lg-12">	
  </div>
  <div class="col-md-9 vcenter">
    <p class="text-justify testimonial">Working with the folks at Qxf2 has been an absolute pleasure. They are some of the best QA Engineers I have had the privilege to work closely with. They integrated right with our team from scrums, to daily hangouts where we discussed tasks, bugs, issues, and approaches to developing software in a way that both ensures high velocity and allows for testability. They worked closely with stakeholders to determine priority of any issues/defects they found as well as worked closely with developers to find solutions and workarounds to mitigate the impact of said issues. The offset in time was a boon to our productivity since they were able to test functionality delivered overnight and inform developers of any defects found with reproducible steps and established priority for fixing first thing in the morning. However that offset did not negatively impact the team since they were present throughout the morning into the middle of the afternoon. All in all qxf2 allowed us to be a hyper effective software engineering team and I would highly recommend anyone use their services!</p>
    <p class="text-right testimonial"><strong>E. Andres Holzer-Torres</strong>, Software Engineer @ Pascal Metrics</p>
  </div>
</div>

<div id="katie">
  <div class="col-md-3 vcenter">
    <img src="./assets/img/testimonials/katie.jpg" class="img-responsive img-circle col-lg-12">	
  </div>
  <div class="col-md-9 vcenter">
    <p class="text-justify testimonial">As a client services team member at a small startup software company, Qxf2 provided a much needed QA role for our team. Prior to having Arun and the Qxf2 team work with us, we did not have a formal QA process. Their ability to help us in client services understand the process and plan for deploys to our platform was critical to our continued success. We quickly went from regular post deploy bug fixes with emergency deploys to an environment where they have become extremely rare! I highly recommend the team at Qxf2 for a job well done, and commitment to excellence.</p>
    <p class="text-right testimonial"><strong>Katie Stauffer</strong>, Senior Manager, Client Services @ Pascal Metrics</p>
  </div>
</div>
