
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-12">
      <h2 class="margin-base-vertical text-center">Our goals</h2>
      <p class="text-justify">
	<u><strong>1. Help software testers</strong></u><br>
	I want Qxf2 to help software testers. We have gotten into the habit of sharing what we know on our blog. Our tutorials on getting started with tools and concepts used in testing are popular. I know for a fact that our competitors benefit from our tutorials. And I am ok with it because the number one goal I have for Qxf2 is to help other testers. 
	<br><br>
	<u><strong>2. Improve the state of software testing</strong></u><br>
	I want Qxf2 to be a place where testers work on challenging problems that affect the testing world. Keith Klain, a famous tester, neatly summarized what I consider the biggest problem in testing today: <a href="https://twitter.com/keithklain/status/473875077587804160">They suck, we suck, you suck</a>. We are taking active steps towards this goal. While we are not there yet, here are few things that we do. We discuss trending topics in the testing world. We think and debate about the important topics in testing. We bounce testing ideas of each other. We have gotten into the habit of choosing one topic to think about every week. On Monday mornings, we meet as a group for 45 minutes to discuss our thoughts on the previous week's topic. 
	<br><br>
	<u><strong>3. Foster an environment where good software testing can flourish</strong></u><br>
	I want Qxf2 to be a place where I would choose to work. Relative to our skills, this is probably our most challenging goal. All of us on the team are new to actively nurturing and designing a great environment from scratch. If you are reading this and have tips, please share it with me at &#109;&#097;&#107;&#064;&#113;&#120;&#102;&#050;.com.
	<br><br>
	We have been able to work towards these goals thanks to a number of factors: phenomenal early employees, a super-supportive client, a disregard for growing rich quickly and lots of good luck. 
	<br>
      </p>
    </div>
    <div class="col-md-12"><!--Separator-->
      <hr class="fancy-line"></hr>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-12">
      <h2 class="margin-base-vertical text-center">Why the name Qxf2?</h2>
      <p class="text-justify">Because I love chess. The name Qxf2 comes from black's 21st move in this brilliant game: <a href="http://www.chessgames.com/perl/chessgame?gid=1477101">M. Krasenkow vs H. Nakamura, Barcelona, 2007</a>. The 'queen takes f2' position also happens to be my profile picture on Wordpress, Twitter and Skype.</p>
    </div>
    <div class="col-md-12"><!--Separator-->
      <hr class="fancy-line"></hr>
    </div>
  </div>



