
<div class="col-md-12"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
</div>

<div class="col-md-10 col-md-offset-1 top-space-20">
  <div class="col-md-12">
    <h2 class="grey_text text-center">API automation: DIY guides</h2>
    <p class="text-justify">For testers, API automation offers a sweet spot between unit testing and GUI automation. These days, most web applications have RESTful interfaces - lending themselves nicely to API automation. At Qxf2, we use the API automation to perform a lot of the test setup activities. API automation is fast, robust and much easier to maintain than GUI automation. Here is a list of tutorials for you to implement API automation at your company.</p>
  </div>
  <div class="col-md-12"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
  </div>

  <div class="col-md-12 top-space">
    <p class="text-justify top-space-20">
      <strong>1. <a href="http://qxf2.com/blog/api-testing-developer-tools/" class="text-danger"><u>USING DEVELOPER TOOLS LIKE A PRO</u></a></strong> <span class="label label-success">Beginner</span><br>
      Learn to use developer tools like a pro! Inspect the API calls being made by your applications over the network. This post forms the basis for writing more complex API tests.
    </p>
    <p class="text-justify top-space-20">
      <strong>2. <a href="http://qxf2.com/blog/api-testing-ui-tools-postman/" class="text-danger"><u>GUI BASED TOOLS FOR API TESTING</u></a></strong> <span class="label label-success">Beginner</span><br>
      An overiview of GUI based tools you can use for API testing. We explore the popular Postman REST client in depth.
    </p>
    <p class="text-justify top-space-20">
      <strong>3. <a href="http://qxf2.com/blog/api-testing-python-mechanize/" class="text-danger"><u>WRITING API TESTS USING MECHANIZE AND PYTHON</u></a></strong> <span class="label label-warning">Intermediate</span><br>
      We use a Python module called Mechanize to write robust API tests. Mechanize is like a browser that will do header and cookie management for you. Mechanize can get past most authentication servers - which makes it easy for you to get started with API testing. But it cannot render JavaScript like a real browser can - so its very lightweight. This makes it an ideal tool to use for API testing especially when your APIs are not very clean. 
    </p>
    <p class="text-justify top-space-20">
      <strong>4. <a href="http://qxf2.com/blog/python-mechanize-the-missing-manual/" class="text-danger"><u>PYTHON MECHANIZE: AN ADVANCED TUTORIAL</u></a></strong> <span class="label label-danger">Advanced</span><br>
      For all the great things Mechanize does well, it does have some glaring holes. Like no out of the box support for PUT, DELETE, PATCH methods. So we dug into the source code and figured out how to fill out these holes. And we shared our solution on <a href="http://stackoverflow.com/questions/13810547/http-put-method-in-python-mechanize">Stack Overflow</a> and in this post.
    </p>
    <p class="text-justify top-space-20">
      <strong>5. <a href="http://qxf2.com/blog/api-testing-using-runscope/" class="text-danger"><u>AN INTRODUCTION TO RUNSCOPE FOR API TESTING</u></a></strong> <span class="label label-success">Beginner</span><br>
      Runscope is a powerful tool to help you quickly get started with API testing. Runscope has a user friendly web interface. It also allows you to perform advanced variable manipulations and complex assertions in your tests via scripts. You can also schedule tests to run regularly and receive notifications. When it comes to API testing, Runscope makes the easy things easy and the hard things possible.
    </p>
    <p class="text-justify top-space-20">
      <strong>6. <a href="http://qxf2.com/blog/cas-automated-login/" class="text-danger"><u>CAS AUTOMATED LOGIN USING PYTHON MECHANIZE</u></a></strong> <span class="label label-danger">Advanced</span><br>
      One of the hard things about using APIs as part of automation is to figure out how to login to the applications. <a href="https://www.apereo.org/projects/cas">CAS</a> is one of the best known and hardest to crack authentication servers. We have written up a tutorial on how to login to a CAS server using Python and Mechanize. 
    </p>
  </div>
</div>
