
<div class="col-md-12"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
</div>

<div class="col-md-10 col-md-offset-1 top-space-20">
  <div class="col-md-12">
    <h2 class="grey_text text-center">Our blog posts on automation</h2>
    <p class="text-justify">We've written a lot of high quality guides on automation and tools. We cover unit testing, API automation, performance testing and GUI testing for web and mobile applications. All the tutorials have code snippets and work on applications that you can sign-up/download for free. The tutorials range from beginner level to advanced examples. So this page is useful for you whether you are new to automation or are looking for some advanced tips.</p>
  </div>
  <div class="col-md-12"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
  </div>

  <div class="col-md-12 top-space">
    <h2 class="grey_text">I. GUI automation</h2>
    <p class="text-justify top-space-20">
      <strong>1. <a href="http://qxf2.com/blog/page-object-model-selenium-python/" class="text-danger"><u>SELENIUM, PYTHON AND THE PAGE OBJECT MODEL</u></a></strong> <span class="label label-warning">Intermediate</span><br>
      This post will show you how to use Selenium and Python to implement the Page Object pattern. We wrote this for people already familiar with Selenium and Python but need help making their test scripts more robust. 
    </p>
    <p class="text-justify top-space-20">
      <strong>2. <a href="http://qxf2.com/blog/page-object-tutorial/" class="text-danger"><u>BATMAN AND PAGE OBJECTS</u></a></strong> <span class="label label-success">Beginner</span><br>
      We have taken the creative route to explaining the page object pattern. If you are new to the page object pattern, start here. No code, just the concept and nananananananana ... BATMAN! 
    </p>
    <p class="text-justify top-space-20">
      <strong>3. <a href="http://qxf2.com/blog/xpath-tutorial/" class="text-danger"><u>HOW TO WRITE ROBUST XPATHS</u></a></strong> <span class="label label-warning">Intermediate</span><br>
      Every tester I onboard knows how to write xpaths but the xpaths are not robust. Poor xpaths cause automation to fail often and in turn give Selenium a bad rep. This post will teach you how to write robust xpaths.<br> 
      Looking for good advice on CSS selectors? Someone else wrote <a href="http://flukeout.github.io/">this piece</a> much better than we could!
    </p>
    <p class="text-justify top-space-20">
      <strong>4. <a href="http://qxf2.com/blog/appium-mobile-automation/" class="text-danger"><u>MOBILE AUTOMATION: GET STARTED WITH APPIUM ON AN EMULATOR</u></a></strong> <span class="label label-success">Beginner</span><br>
      Stop fearing mobile automation! Its easy to get started. This tutorial is ideal for rank beginners and has helped many testers start with Appium and mobile automation.
    </p>
    <p class="text-justify top-space-20">
      <strong>5. <a href="http://qxf2.com/blog/selendroid-mobile-automation/" class="text-danger"><u>MOBILE AUTOMATION: SELENDROID</u></a></strong> <span class="label label-success">Beginner</span><br>
      This tutorial is aimed at rank beginners. We will show you how to get setup with an Android emulator and how to use Selendroid. Our best guess is that Appium is going to be the default choice for mobile GUI automation. But it does not hurt to know another technology.
    </p>
    <p class="text-justify top-space-20">
      <strong>6. <a href="http://qxf2.com/blog/appium-tutorial-python-physical-device/" class="text-danger"><u>MOBILE AUTOMATION: APPIUM, PYTHON WITH PHYSICAL MOBILE DEVICES</u></a></strong> <span class="label label-success">Beginner</span><br>
      This tutorial will show you how to run your Appium tests against real, physical Android devices. This step by step guide is perhaps the most popular tutorial we have ever written! 
    </p>
    <p class="text-justify top-space-20">
      <strong>7. <a href="http://qxf2.com/blog/identify-ui-elements-mobile-apps/" class="text-danger"><u>MOBILE AUTOMATION: IDENTIFYING UI ELEMENTS</u></a></strong> <span class="label label-success">Beginner</span><br>
      We have Firebug and xpather to identify UI elements in web applications. Ever wondered what the equivalent was for mobile apps? This blog post is a comprehensive guide showing different ways and tools to identify UI elements in mobile applications.
    </p>
    <p class="text-justify top-space-20">
      <strong>8. <a href="http://qxf2.com/blog/running-mobile-automation-on-multiple-devices/" class="text-danger"><u>MOBILE AUTOMATION: RUNNING AUTOMATION ON MULTIPLE DEVICES</u></a></strong> <span class="label label-danger">Advanced</span><br>
      Make your mobile automation more robust! This tutorial will show you how to run the same test against a range of devices and OS versions. 
    </p>
    <p class="text-justify top-space-20">
      <strong>9. <a href="http://qxf2.com/blog/automating-pinch-zoom-swipe-appium/" class="text-danger"><u>MOBILE AUTOMATION: PINCH, ZOOM AND SWIPE!</u></a></strong> <span class="label label-warning">Intermediate</span><br>
      Learn how to perform gestures using Appium and Python.
    </p>
    <p class="text-justify top-space-20">
      <strong>10. <a href="http://qxf2.com/blog/python-appium-scroll-through-search-result-table/" class="text-danger"><u>MOBILE AUTOMATION: SCROLLING THROUGH TABLES AND SEARCH RESULTS</u></a></strong> <span class="label label-danger">Advanced</span><br>
      In this post we show you how to scroll through a table and identify elements. We also tackle the case where the table spans multiple pages. This is a natural and common workflow on most mobile devices. A typical use case involves the user performing a search within a mobile application. The app returns a table of results. The user then scrolls through the results and clicks on the result she likes.
    </p>
  </div>
  <div class="col-md-12"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
  </div>

  <div class="col-md-12 top-space">
    <h2 class="grey_text">II. API testing</h2>
    <p class="text-justify top-space-20">
      <strong>1. <a href="http://qxf2.com/blog/api-testing-developer-tools/" class="text-danger"><u>USING DEVELOPER TOOLS LIKE A PRO</u></a></strong> <span class="label label-success">Beginner</span><br>
      Learn to use developer tools like a pro! Inspect the API calls being made by your applications over the network. This post forms the basis for writing more complex API tests.
    </p>
    <p class="text-justify top-space-20">
      <strong>2. <a href="http://qxf2.com/blog/api-testing-ui-tools-postman/" class="text-danger"><u>GUI BASED TOOLS FOR API TESTING</u></a></strong> <span class="label label-success">Beginner</span><br>
      An overiview of GUI based tools you can use for API testing. We explore the popular Postman REST client in depth.
    </p>
    <p class="text-justify top-space-20">
      <strong>3. <a href="http://qxf2.com/blog/api-testing-python-mechanize/" class="text-danger"><u>WRITING API TESTS USING MECHANIZE AND PYTHON</u></a></strong> <span class="label label-warning">Intermediate</span><br>
      We use a Python module called Mechanize to write robust API tests. Mechanize is like a browser that will do header and cookie management for you. Mechanize can get past most authentication servers - which makes it easy for you to get started with API testing. But it cannot render JavaScript like a real browser can - so its very lightweight. This makes it an ideal tool to use for API testing especially when your APIs are not very clean. 
    </p>
    <p class="text-justify top-space-20">
      <strong>4. <a href="http://qxf2.com/blog/python-mechanize-the-missing-manual/" class="text-danger"><u>PYTHON MECHANIZE: AN ADVANCED TUTORIAL</u></a></strong> <span class="label label-danger">Advanced</span><br>
      For all the great things Mechanize does well, it does have some glaring holes. Like no out of the box support for PUT, DELETE, PATCH methods. So we dug into the source code and figured out how to fill out these holes. And we shared our solution on <a href="http://stackoverflow.com/questions/13810547/http-put-method-in-python-mechanize">Stack Overflow</a> and in this post.
    </p>
    <p class="text-justify top-space-20">
      <strong>5. <a href="http://qxf2.com/blog/api-testing-using-runscope/" class="text-danger"><u>AN INTRODUCTION TO RUNSCOPE FOR API TESTING</u></a></strong> <span class="label label-success">Beginner</span><br>
      Runscope is a powerful tool to help you quickly get started with API testing. Runscope has a user friendly web interface. It also allows you to perform advanced variable manipulations and complex assertions in your tests via scripts. You can also schedule tests to run regularly and receive notifications. When it comes to API testing, Runscope makes the easy things easy and the hard things possible.
    </p>
    <p class="text-justify top-space-20">
      <strong>6. <a href="http://qxf2.com/blog/cas-automated-login/" class="text-danger"><u>CAS AUTOMATED LOGIN USING PYTHON MECHANIZE</u></a></strong> <span class="label label-danger">Advanced</span><br>
      One of the hard things about using APIs as part of automation is to figure out how to login to the applications. <a href="https://www.apereo.org/projects/cas">CAS</a> is one of the best known and hardest to crack authentication servers. We have written up a tutorial on how to login to a CAS server using Python and Mechanize. 
    </p>
  </div>
  <div class="col-md-12"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
  </div>

  <div class="col-md-12 top-space">
    <h2 class="grey_text">III. Unit testing</h2>
    <p class="text-justify top-space-20">
      <strong>1. <a href="http://qxf2.com/blog/python-unit-checks/" class="text-danger"><u>PYTHON UNIT TESTING</u></a></strong> <span class="label label-success">Beginner</span><br>
      New to unit testing in Python? We explore the Python module <strong>mock</strong>, show you a detailed example of unit testing on an open source application.  
    </p>
    <p class="text-justify top-space-20">
      <strong>2. <a href="http://qxf2.com/blog/junit-tutorial-beginners/" class="text-danger"><u>JUNIT TUTORIAL FOR BEGINNERS</u></a></strong> <span class="label label-success">Beginner</span><br>
      A JUnit tutorial written specifically for absolute beginners. We show you every step - right from getting started with Eclipse to how to debug test failures.
    </p>
    <p class="text-justify top-space-20">
      <strong>3. <a href="http://qxf2.com/blog/get-started-with-testng/" class="text-danger"><u>TestNG TUTORIAL</u></a></strong> <span class="label label-success">Beginner</span><br>
      We wrote this post for testers who want to get started with TestNG. You will learn about some popular annotations used in TestNG. We also show you how to parameterize your automated checks.
    </p>
    <p class="text-justify top-space-20">
      <strong>4. <a href="http://qxf2.com/blog/javascript-unit-testing-jasmine/" class="text-danger"><u>JavaScript UNIT TESTING WITH JASMINE</u></a></strong> <span class="label label-success">Beginner</span><br>
      This post will teach you to write JavaScript unit tests using Jasmine in under 60 minutes. This tutorial is aimed at absolute beginners. 
    </p>
    <p class="text-justify top-space-20">
      <strong>5. <a href="http://qxf2.com/blog/android-unit-testing-robolectric-tutorial/" class="text-danger"><u>ANDROID UNIT TESTING</u></a></strong> <span class="label label-success">Beginner</span><br>
      There are not many good tutorials on Android unit testing. In this tutorial we will walk you through two examples. One example showing you how to use the <a href="http://developer.android.com/tools/testing/testing_android.html">Android testing framework</a>. Another example showing you how to use <a href="http://robolectric.org/">Robolectric</a>. 
    </p>
  </div>
  <div class="col-md-12"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
  </div>

  <div class="col-md-12 top-space">
    <h2 class="grey_text">IV. Performance testing</h2>
    <p class="text-justify top-space-20">
      <strong>1. <a href="http://qxf2.com/blog/get-started-jmeter/" class="text-danger"><u>JMeter TUTORIAL</u></a></strong> <span class="label label-success">Beginner</span><br>
      A fantastic video to get started with JMeter in less than 30 minutes. Saurabh covers a whole range of JMeter topics like installation, test plans, thread groups, configuration elements, samplers, assertions, listeners, handling parameters and a whole host of JMeter gotchas. 
    </p>
    <p class="text-justify top-space-20">
      <strong>2. <a href="http://qxf2.com/blog/performance-testing-using-gatling/" class="text-danger"><u>GATLING TUTORIAL</u></a></strong> <span class="label label-success">Beginner</span><br>
      In this tutorial you will learn about Gatling which is an open source load testing framework based on Scala, Akka and Netty and arm our self for load testing.
    </p>
  </div>
</div>
