
  <div class="col-md-10 col-md-offset-1 top-space-30">
    <div class="col-md-12 panel-blue img-rounded">
      <div class="col-md-10 vcenter">
	<p class="text-justify">In two weeks Avinash with his offshore team was able to understand the loop holes in our test process, able to suggest tools to make our process better and implemented an automated end-to-end test suite in Python Selenium with pretty much <i>no</i> management overhead.</p>
	<p class="text-right testimonial"><strong>Prashanth Shenoy Katpady</strong>, CTO @ UniCourt</p>
      </div>
      <div class="col-md-2 vcenter">
	<img src="./assets/img/testimonials/prashanth.jpg" class="img-responsive img-circle col-lg-12">	
      </div>
    </div>
  </div>
  <div class="col-md-12 top-buffer"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12">
  </div>

  <div class="col-md-10 col-md-offset-1 top-space-20">
    <div class="col-md-12">
      <p class="text-justify">Qxf2 provides <b>automation services</b> too! We have written several light weight automation frameworks that are ideal to kick start automation quickly. Our automation comes with a full implementation of the page object pattern, excellent logging, hooks to cloud based environments like Sauce Labs and out of the box reporting to popular test case management tools. If you are looking for testers with automation expertise, drop a note to <b>&#109;&#097;&#107;&#064;&#113;&#120;&#102;&#050;.com</b>.</p>
      <p class="text-justify top-space-20">We have several tools in our toolbelt. Here are some tutorials we have published on our blog:</p>
      <div class="row-fluid">
	<div class="col-md-6 vcenter top-space-20">
	  <img src="./assets/img/qxf2_toolbelt.jpg" class="img-responsive col-lg-12">
	</div>
	<div class="col-md-6 vcenter">
	  <div class="row"><p><b>1. Unit testing:</b> <span class="small-names"><a href="http://qxf2.com/blog/python-unit-checks/">Python Mock</a>, <a href="http://qxf2.com/blog/junit-tutorial-beginners/">JUnit</a>, <a href="http://qxf2.com/blog/get-started-with-testng/">TestNG</a>, <a href="http://qxf2.com/blog/javascript-unit-testing-jasmine/">Jasmine</a>, <a href="http://qxf2.com/blog/android-unit-testing-robolectric-tutorial/">Android</a></span></p></div>
	  <div class="row"><p><b>2. API automation:</b> <span class="small-names"><a href="http://qxf2.com/blog/api-testing-developer-tools/">API 1</a>, <a href="http://qxf2.com/blog/api-testing-ui-tools-postman/">API 2</a>, <a href="http://qxf2.com/blog/api-testing-python-mechanize/">API 3</a>, <a href="http://qxf2.com/blog/python-mechanize-the-missing-manual/">Mechanize</a>, <a href="http://qxf2.com/blog/api-testing-using-runscope/">RunScope</a></span></p></div>
	  <div class="row"><p><b>3. GUI automation:</b> <span class="small-names"><a href="http://qxf2.com/blog/page-object-tutorial/">Page Object Model 1</a>, <a href="http://qxf2.com/blog/page-object-model-selenium/">Page Object Model 2</a>, <a href="http://qxf2.com/blog/xpath-tutorial/">Art of xpath</a></span></p></div>
	  <div class="row"><p><b>4. Infrastructure:</b> <span class="small-names"><a href="http://qxf2.com/blog/get-started-with-jenkins/">Jenkins 1</a>, <a href="http://qxf2.com/blog/jenkins-python/">Jenkins with Python</a>, <a href="http://qxf2.com/blog/running-selenium-automation-using-sauce-labs-part-3/">Sauce Labs</a>, <a href="http://qxf2.com/blog/browserstack-part1/">BrowserStack</a>,<a href="http://qxf2.com/blog/testrail-get-your-tests-organized/">TestRail</a></span></p></div>
	  <div class="row"><p><b>5. Mobile automation:</b> <span class="small-names"><a href="http://qxf2.com/blog/appium-mobile-automation/">Appium 1</a>, <a href="http://qxf2.com/blog/appium-tutorial-python-physical-device/">Appium 2</a>, <a href="http://qxf2.com/blog/selendroid-mobile-automation/">Selendroid</a>, <a href="http://qxf2.com/blog/identify-ui-elements-mobile-apps/">Identifying elements</a></span></p></div>
	  <div class="row"><p><b>6. Performance testing:</b> <span class="small-names"><a href="http://qxf2.com/blog/get-started-jmeter/">JMeter</a>, <a href="http://qxf2.com/blog/performance-testing-using-gatling/">Gatling</a></span></p></div>
	</div>
      </div>
      <p class="text-center top-space-30">
	<span class="tab-space"><a class="btn btn-danger btn-lg" href="./trial" onClick="_gaq.push(['_trackEvent', 'Automation-Contact', 'Click', 'Automation contact']);">Ask for our automation services!</a></span>
      </p>
    </div>
  </div>
