
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-12">
      <p class="margin-base-vertical text-justify">Qxf2 Services is on the look out for passionate testers with deep technical expertise. We are looking for testers to join us on our journey towards our <a href="./goals">ambitious goals</a>. Qxf2 Services is based in Whitefield, Bangalore. Our talented and dedicated testing experts enjoy autonomy, individual ownership of work, flexible timings, <u>work from home options</u> and a well stocked kitchen. Interested? Send your resume to <b>&#099;&#097;r&#101ers@qxf2.com</b></p>
    </div>
    <div class="col-md-12"><!--Separator-->
      <img src="./assets/img/cut_line.png" class="img-responsive col-md-12">
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-12">
      <h3 class="margin-base-vertical">Software tester - Technical Lead [Whitefield, Bangalore]</h3><a href="#technical_lead"></a>
      <p class="margin-base-vertical text-justify">Qxf2 is providing software testing services to a healthcare startup in the US. As a technical lead, you will integrate with the engineering team in the US and engage stakeholders regularly.</p>
      <ul>
	<li> 6+ years of software testing experience</li>
	<li> Preferred toolbelt: Python, Java, Selenium webdriver, ability to write database queries, Unix</li>
	<li> Strong scripting skills: Perl/Python/Ruby</li>
	<li> Hands on experience with JUnit</li>
	<li> Familiarity with Agile development process</li>
	<li> Experience managing teams and/or mentoring team members</li>
	<li> Ability to work in a technically challenging environment</li>
	<li> Experience testing either web or mobile applications</li>
	<li> Ability to regularly engage stakeholders</li>
	<li> Proficient in English, excellent written and oral communication skills</li>
	<li> Interested in working in the healthcare space</li>
	<li> Prior experience working with US teams is a bonus</li>
      </ul>
    </div>
    <div class="col-md-12"><!--Separator-->
      <img src="./assets/img/cut_line.png" class="img-responsive col-md-12">
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-12">
      <h3 class="margin-base-vertical">Software tester [Whitefield, Bangalore]</h3><a href="#software_tester"></a>	  
      <p class="margin-base-vertical text-justify">A great opportunity for the budding software tester. You will gain exposure to the latest ideas, tools and techniques in testing. You will report directly to the Technical Lead and will be assigned work based on your unique skill set and aptitude.</p>
      <ul>
	<li> 0-2 Years experience as a software tester</li>
	<li> Minimum qualifications: Bachelors in Engineering or BCA</li>
	<li> Good analytical skills and programming knowledge</li>
	<li> Basic testing knowledge</li>
	<li> Basic knowledge of  HTML, CSS, Javascript, web servers (Apache, nginx), databases (MySQL, MongoDB)</li>
	<li> Interest in automation and scripting</li>
	<li> Quick learner with a keen interest in technology</li>
      </ul>
    </div>
  </div>
