
<div class="col-md-12"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
</div>

<div class="col-md-10 col-md-offset-1 top-space-20">
  <div class="col-md-12">
    <h2 class="grey_text text-center">Our blog post(s) on integrating automation with your CI server</h2>
    <p class="text-justify">
      All these examples use Jenkins as the CI server. Primarily because Jenkins is the most popular CI server among our clients. You can do similar things with Bamboo or Hudson too. If you need help, <a href="./contact">drop us a note</a>. 
    </p>
  </div>
  <div class="col-md-12"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
  </div>

  <div class="col-md-12 top-space">
    <p class="text-justify top-space-20">
      <strong>1. <a href="http://qxf2.com/blog/xvfb-plugin-for-jenkins-selenium/" class="text-danger"><u>RUNNING SELENIUM VIA JENKINS</u></a></strong> <span class="label label-warning">Intermediate</span><br>
      We explore the Xvfb plugin. Xvfb lets you perform all graphical operations in-memory without showing any screen ooutput. Ideal for integrating your Selenium tests with Jenkins. 
    </p>
    <p class="text-justify top-space-20">
      <strong>2. <a href="http://qxf2.com/blog/get-started-with-jenkins/" class="text-danger"><u>GET STARTED WITH JENKINS</u></a></strong> <span class="label label-success">Beginner</span><br>
      Due to a variety of reasons, many testers do not get the opportunity to explore and play around with Jenkins. We wrote this for testers so they can set up Jenkins on their personal machine and learn more about it.
    </p>
    <p class="text-justify top-space-20">
      <strong>3. <a href="http://qxf2.com/blog/jenkins-python/" class="text-danger"><u>PYTHON UNIT TEST INTEGRATION WITH JENKINS</u></a></strong> <span class="label label-success">Beginner</span><br>
      This post is for the hands on tester looking to integrate their Python unit tests with Jenkins.
    </p>
</div>
