
  <div class="col-md-10 col-md-offset-1 top-space-20">
    <div class="col-md-12">
      <div class="row-fluid">
	<div class="col-md-6 vcenter">
	  <h1 class="margin-base-vertical text-center">Kick-start your testing today!</h1>
	  <img src="./assets/img/qxf2_contact.jpg" class="img-responsive img-circle col-lg-12">
	</div>
	<div class="col-md-6 form-style vcenter" id="contact_form">
	  <div id="contact_results"></div>
	  <div id="contact_body">
	    <div id="contact_results"></div>
	    <div id="contact_body">
	      <label><span>Name <span class="required">*</span></span>
		<input type="text" name="name" id="name" required="true" class="input-field" placeholder="So we can greet you."/>
	      </label>
	      <label><span>Email <span class="required">*</span></span>
		<input type="email" name="email" required="true" class="input-field" placeholder="No spam. Ever."/>
	      </label>
	      <label for="field5"><span>Message <span class="required">*</span></span>
		<textarea name="message" id="message" class="textarea-field" required="true" placeholder="Tell us about your project/engagement. Qxf2 is standing by to help you!"></textarea>
	      </label>
	      <label>
		<p class="text-center"><a class="btn btn-success btn-large" id="submit_btn" value="Submit">Drop a note!</a></p>
	      </label>
	    </div>
	  </div>
	  <p class="text-justify contact-intro top-space-30">Join startups like <a href="http://www.pascalmetrics.com">Pascal Metrics</a> and <a href="http://mangaloreinfotech.in/">Mangalore Infotech</a> that benefit from Qxf2's brand of testing!</p>
	</div>
      </div>
    </div>
    <div class="col-md-12 panel panel-default"><!--Separator-->
      <div class="row-fluid">
	<p class="margin-base-vertical">
	  <ul>
	    <li><b>General enquiries: </b> &#109;&#097;&#107;&#064;&#113;&#120;&#102;&#050;.com</li>
	    <li><b>Employment enquiries: </b> &#099;&#097;r&#101ers@qxf2.com</li>
	    <li><b>Location: </b> Hoodi Circle, Whitefield, Bangalore 560048</li>
	  </ul>
	</p>
      </div>
    </div>
  </div>
