
  <div class="col-md-10 col-md-offset-1 top-space-30">
    <div class="col-md-12">
      <p class="text-justify">Understanding and managing cultural differences is a key component of successful outsourcing. Our approach of embedding engineers within teams helps a lot here. We specifically guard against one of the more frustrating problems with outsourcing - pretending to understand and agree with whatever the client says. We see ourselves as partners who should advise you on your options for delivering better software. So we won't simply nod our heads when we disagree with something. We will speak up and make an argument for what we think is the right approach.</p>
      <p class="text-justify top-space-15">We try and work as lean as possible too. We have intentionally kept our internal culture light and agile. We use a lot of remote collaboration tools and run one week sprints. We split our teams into small groups that are used to moving fast. We regularly read and pick up tips (thanks, <a href="http://news.ycombinator.com">Hacker News</a>!) on the good practices for lean startups.</p>
      <p class="text-justify top-space-15"> Finally, we probably have some degree of knowledge about your country and customs. Many Qxf2 employees have lived and worked abroad. For instance, below is a map of places where we lived and worked in the USA.</p>
      <img src="./assets/img/qxf2_worked_usa.jpg" class="img-responsive col-md-12 top-space-20">
    </div>
  </div>
