
  <div class="col-md-10 col-md-offset-1 top-space-30">
    <div class="col-md-12 img-rounded">
      <div class="col-md-9 vcenter top-space-30">
	<p class="text-justify testimonial">Qxf2's engineers are both fast and thorough. Their unique mix of automation and pro-active communication allowed our development team to deliver the highest quality software very rapidly.</p>
	<p class="text-right testimonial"><strong>Jacob Heric</strong>, Lead developer @ Pascal Metrics</p>
      </div>
      <div class="col-md-3 vcenter">
	<img src="./assets/img/testimonials/jacob.jpg" class="img-responsive img-circle col-lg-12">	
      </div>
    </div>
  </div>
  <div class="col-md-12 top-buffer"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12">
  </div>

  <div class="col-md-10 col-md-offset-1 top-space-20">
    <div class="col-md-12">
      <h2 class="margin-base-vertical text-center grey_text">Worried we may not be able to hang in with your engineering team?</h2>
      <p class="text-justify">
	Qxf2 testers tinker with technology all the time. We don't limit ourselves to only testing tools. For example, we:
	<ul>
	  <li> developed our own <a href="http://www.searchcomicstrips.com/">comic search web application</a> using Django, Python, Solr and have hosted it on AWS</li> 
	  <li> have written several crawlers and web scrapers including a <a href="http://news.qxf2.com">testing news aggregator</a></li> 
	  <li> <a href="http://stackoverflow.com/a/23404541">figured out solutions</a> to long unanswered questions on Stack Overflow</li>
	  <li> publish many <a href="http://qxf2.com/blog/?s=tutorial">testing tutorials</a> and occasionally throw up code on our <a href="https://github.com/qxf2">GitHub account</a></li>
	  <li> setup landing pages and ran AdWords campaigns to validate business ideas</li>
	  <li> <a href="http://qxf2.com/blog/run-your-api-tests-in-parallel-mapreducepython/">used map-reduce</a> to speed up our API tests</li> 
	</ul>
      </p>
      <p class="text-justify">
	When you work with Qxf2, you work with smart and enterprising testers with a flair for technology. No matter what your stack, we will be able to quickly pick it up and dig into the technical details.    
      </p>
      <p class="text-justify top-space-20">
	We enjoy working at a rapid pace and prefer short, focussed sprints. Our own internal process is very light. Our R&D team runs one week sprints. We use a combination of Bitbucket, Skype, Trello and WordPress to manage our activities. We rarely email one another and prefer using Skype or Hangouts. Our reading lists include <a href="https://news.ycombinator.com/">Hacker News</a> and tweets from the top names in software engineering. So rest assured, we will fit in nicely with your engineering culture!
      </p>
    </div>
  </div>


