
<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div class="row-fluid">
      <div class="col-md-6 vcenter">
	<img src="./assets/img/qxf2_goals.jpg" class="img-responsive img-circle col-md-12">
      </div>
      <div>
	<h2 class="margin-base-vertical text-center">Our goals</h2>
	<p class="text-justify">
	  <u><strong>1. Help software testers</strong></u><br>
	  I want Qxf2 to help software testers. We share what we know on our blog. I know that our competitors directly benefit from tutorials and ideas presented on our popular blog. And I am ok with it. Because the number one goal I have for Qxf2 is to help other testers. 
	  <br><br>
	  <u><strong>2. Improve the state of software testing</strong></u><br>
	  I want Qxf2 to be a place where testers work on challenging problems that affect the testing world. Keith Klain, a famous tester, neatly summarized the problem in testing today: <a href="https://twitter.com/keithklain/status/473875077587804160">They suck, we suck, you suck</a>. We are taking active steps to improve. Here are few things that we do. We discuss trending topics in the testing world. We think and debate about the important topics in testing. We bounce testing ideas of each other. We have gotten into the habit of choosing one topic to think about every week. On Monday mornings, we meet as a group for 45 minutes to discuss our thoughts on the previous week's topic. 
	  <br><br>
	  <u><strong>3. Foster an environment where good software testing can flourish</strong></u><br>
	  I want Qxf2 to be a place where I would choose to work. Relative to our skills, this is probably our most challenging goal. All of us on the team are new to actively nurturing and designing a great environment from scratch. If you are reading this and have tips, please share it with me at &#109;&#097;&#107;&#064;&#113;&#120;&#102;&#050;.com.
	  <br><br>
	  We have been able to work towards these goals thanks to a number of factors: phenomenal early employees, a super-supportive client, a disregard for growing rich quickly and lots of good luck. 
	  <br>
	</p>
      </div>
    </div>
  </div>
