
<div class="col-md-12"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
</div>

<div class="col-md-10 col-md-offset-1 top-space-20">
  <div class="col-md-12">
    <h2 class="grey_text text-center">GUI automation: DIY guides</h2>
    <p class="text-justify">GUI automation is great for <a href="http://martinfowler.com/bliki/BroadStackTest.html">broad stack testing</a>. GUI tests (in general) run slower, take longer to develop and are harder to maintain than API automation and unit tests. So balance your GUI automation with API automation and unit tests. If you are the first professional tester at your company, we <strong>strongly recommend</strong> you start with GUI automation for a simple reason - GUI tests have enormous social ROI. An under-appreciated aspect of GUI automation are their inherent theatrical nature. Testing performances rarely evoke positive emotion. Good testing is usually not memorable. Not many testing artifacts make testing memorable. Story-telling seems to be our best bet to make good testing memorable within our companies. GUI tests are a visual spectacle. People see the application being exercised automagically. This visual display evokes positive emotions in non-testers. The emotion causes people to relate positively to testing and the testers. It makes the testing (technically "checking") performance a memorable event.</p>
    <p class="text-justify">Here are several tutorials we have written on GUI automation. These cover popular tools like Selenium and Appium.</p>
  </div>
  <div class="col-md-12"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
  </div>

  <div class="col-md-12 top-space">
    <p class="text-justify top-space-20">
      <strong>1. <a href="http://qxf2.com/blog/page-object-model-selenium-python/" class="text-danger"><u>SELENIUM, PYTHON AND THE PAGE OBJECT MODEL</u></a></strong> <span class="label label-warning">Intermediate</span><br>
      This post will show you how to use Selenium and Python to implement the Page Object pattern. We wrote this for people already familiar with Selenium and Python but need help making their test scripts more robust. 
    </p>
    <p class="text-justify top-space-20">
      <strong>2. <a href="http://qxf2.com/blog/page-object-tutorial/" class="text-danger"><u>BATMAN AND PAGE OBJECTS</u></a></strong> <span class="label label-success">Beginner</span><br>
      We have taken the creative route to explaining the page object pattern. If you are new to the page object pattern, start here. No code, just the concept and nananananananana ... BATMAN! 
    </p>
    <p class="text-justify top-space-20">
      <strong>3. <a href="http://qxf2.com/blog/xpath-tutorial/" class="text-danger"><u>HOW TO WRITE ROBUST XPATHS</u></a></strong> <span class="label label-warning">Intermediate</span><br>
      Every tester I onboard knows how to write xpaths but the xpaths are not robust. Poor xpaths cause automation to fail often and in turn give Selenium a bad rep. This post will teach you how to write robust xpaths.<br> 
      Looking for good advice on CSS selectors? Someone else wrote <a href="http://flukeout.github.io/">this piece</a> much better than we could!
    </p>
    <p class="text-justify top-space-20">
      <strong>4. <a href="http://qxf2.com/blog/appium-mobile-automation/" class="text-danger"><u>MOBILE AUTOMATION: GET STARTED WITH APPIUM ON AN EMULATOR</u></a></strong> <span class="label label-success">Beginner</span><br>
      Stop fearing mobile automation! Its easy to get started. This tutorial is ideal for rank beginners and has helped many testers start with Appium and mobile automation.
    </p>
    <p class="text-justify top-space-20">
      <strong>5. <a href="http://qxf2.com/blog/selendroid-mobile-automation/" class="text-danger"><u>MOBILE AUTOMATION: SELENDROID</u></a></strong> <span class="label label-success">Beginner</span><br>
      This tutorial is aimed at rank beginners. We will show you how to get setup with an Android emulator and how to use Selendroid. Our best guess is that Appium is going to be the default choice for mobile GUI automation. But it does not hurt to know another technology.
    </p>
    <p class="text-justify top-space-20">
      <strong>6. <a href="http://qxf2.com/blog/appium-tutorial-python-physical-device/" class="text-danger"><u>MOBILE AUTOMATION: APPIUM, PYTHON WITH PHYSICAL MOBILE DEVICES</u></a></strong> <span class="label label-success">Beginner</span><br>
      This tutorial will show you how to run your Appium tests against real, physical Android devices. This step by step guide is perhaps the most popular tutorial we have ever written! 
    </p>
    <p class="text-justify top-space-20">
      <strong>7. <a href="http://qxf2.com/blog/identify-ui-elements-mobile-apps/" class="text-danger"><u>MOBILE AUTOMATION: IDENTIFYING UI ELEMENTS</u></a></strong> <span class="label label-success">Beginner</span><br>
      We have Firebug and xpather to identify UI elements in web applications. Ever wondered what the equivalent was for mobile apps? This blog post is a comprehensive guide showing different ways and tools to identify UI elements in mobile applications.
    </p>
    <p class="text-justify top-space-20">
      <strong>8. <a href="http://qxf2.com/blog/running-mobile-automation-on-multiple-devices/" class="text-danger"><u>MOBILE AUTOMATION: RUNNING AUTOMATION ON MULTIPLE DEVICES</u></a></strong> <span class="label label-danger">Advanced</span><br>
      Make your mobile automation more robust! This tutorial will show you how to run the same test against a range of devices and OS versions. 
    </p>
    <p class="text-justify top-space-20">
      <strong>9. <a href="http://qxf2.com/blog/automating-pinch-zoom-swipe-appium/" class="text-danger"><u>MOBILE AUTOMATION: PINCH, ZOOM AND SWIPE!</u></a></strong> <span class="label label-warning">Intermediate</span><br>
      Learn how to perform gestures using Appium and Python.
    </p>
    <p class="text-justify top-space-20">
      <strong>10. <a href="http://qxf2.com/blog/python-appium-scroll-through-search-result-table/" class="text-danger"><u>MOBILE AUTOMATION: SCROLLING THROUGH TABLES AND SEARCH RESULTS</u></a></strong> <span class="label label-danger">Advanced</span><br>
      In this post we show you how to scroll through a table and identify elements. We also tackle the case where the table spans multiple pages. This is a natural and common workflow on most mobile devices. A typical use case involves the user performing a search within a mobile application. The app returns a table of results. The user then scrolls through the results and clicks on the result she likes.
    </p>
  </div>
</div>
