
<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div class="row-fluid">
      <!--div class="col-md-6 vcenter"-->
	<a href="./trial" onClick="_gaq.push(['_trackEvent', 'Index-Trial', 'Click', 'Two week trial']);"><img src="./assets/img/qxf2_startup_testing_cycle.png" class="img-responsive col-lg-12 top-buffer"></a>
	<h1 class="margin-base-vertical text-center">Is your startup having trouble hiring the right testers?</h1>
	<p class="text-justify">
	  You successfully released version 1.0 of your product. You are now rapidly adding features, refactoring critical code and scaling your product - all at once. Naturally, bugs are creeping into production. You want testing to solve this problem. But testing is not your core skill and you don't want to spend all your time telling testers what exactly to do. Instead, you are looking for someone to own testing. Someone to advise you on suitable testing tools, approaches and practices. <strong>Someone to lay the foundation for testing at your startup</strong>. But after dozens of interviews, you are having trouble finding a suitable candidate. Try Qxf2 Services. We have just the right kind of testers for you.    
	</p>
	<p class="text-center top-space-20">
	  <span class="tab-space"><a class="btn btn-danger btn-lg" href="./trial" onClick="_gaq.push(['_trackEvent', 'Index-Trial', 'Click', 'Two week trial']);">Sign up for a free two week trial!</a></span>
	</p>
      </div>
  </div>
</div>
<div class="col-md-12 top-buffer"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div class="row-fluid">
      <h1 class="margin-base-vertical text-center">We'll lay the foundation for great testing at your startup</h1>
      <div class="col-md-5 vcenter">
	<p class="text-justify">
	  Our expert testers will:
	    <p><span class="text-success">&#10004;</span> identify <strong>high value areas to start</strong> testing</p>
	    <p class="text-center">&bull; mind maps &bull; ACC model &bull; layers model</p>
	    <p><span class="text-success">&#10004;</span> guide you to <strong>setup test environments</strong></p>
	    <p><span class="text-success">&#10004;</span> identify and <strong>automate acceptance criteria</strong>
	    <p class="text-center">&bull; Selenium &bull; Appium  &bull; Page object model</p>
	    <p><span class="text-success">&#10004;</span> setup a visual <strong>test case management</strong> tool</p>
	    <p><span class="text-success">&#10004;</span> integrate automation with your <strong>CI server</strong></p>
	    <p><span class="text-success">&#10004;</span> hook-up to <strong>cloud-based environments</strong></p>
	    <p><span class="text-success">&#10004;</span> flesh out <strong>deploy and patch processes</strong></p>
	    <p><span class="text-success">&#10004;</span> embed themselves within your agile teams</p>
	</p>
      </div>
      <div class="col-md-7 vcenter">
	<img src="./assets/img/qxf2_RD_visualized.png" class="img-responsive col-lg-12">	
      </div>
    </div>
    <div class="row col-md-12 top-space-20">
      <p class="text-center">
	<span class="tab-space"><a class="btn btn-danger btn-lg" href="./approach" onClick="_gaq.push(['_trackEvent', 'Index-Approach', 'Click', 'Dive into the details']);">Dive into the details</a></span>
      </p>
      <p class="text-center grey_text">(We'll even show you how to do it yourself)</p>
    </div>
  </div>
</div>
<div class="col-md-12 top-buffer"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
</div>
  
<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div class="row">
      <h1 class="margin-base-vertical text-center">Our clients love working with us</h1>
    </div>
    <div id="testimonial" class="row">
      <span>
	<div class="col-md-3 vcenter">
	  <img src="./assets/img/testimonials/natasha.jpg" class="img-responsive img-circle col-lg-12">	
	</div>
	<div class="col-md-9 vcenter">
	  <p class="text-justify testimonial"> I have worked closely with Arun and several members of the Qxf2 team for several years now. It has been an absolute pleasure working with this group. Working with large and complex data structures and statistical algorithms, Qxf2 has been critical to our success of delivering valid and reliable data under short timeframes to our clients partners.</p> 
	  <p class="text-justify testimonial"> Many people may be wary of working with a company located on a different continent; however, Arun and his team are masters at working remotely. There are some days that I speak with Arun and Saurabh more than other team members physically located in the same office.</p>
	  <p class="text-justify testimonial"> Thank you Qxf2 for always making sure our data and software live up to our clients exceptionally high standards!</p>
	  <p class="text-right testimonial"><strong>Natasha Scott</strong>, VP, Scientific Instruments @ Pascal Metrics</p>
	</div>
      </span>
    </div>
    <div id="person" class="text-center row">
      <ul class="pagination pagination-sm">
	<li><a href="natasha" onClick="_gaq.push(['_trackEvent', 'Index-Testimonial', 'Click', '1']);">1</a></li>
	<li><a href="prashanth" onClick="_gaq.push(['_trackEvent', 'Index-Testimonial', 'Click', '2']);">2</a></li>
	<li><a href="andres" onClick="_gaq.push(['_trackEvent', 'Index-Testimonial', 'Click', '3']);">3</a></li>
	<li><a href="katie" onClick="_gaq.push(['_trackEvent', 'Index-Testimonial', 'Click', '4']);">4</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-12 top-buffer"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div class="row-fluid">
      <h1 class="margin-base-vertical text-center">Select clients</h1>
      <div class="col-md-6 vcenter">
	<a href="http://www.pascalmetrics.com" onClick="_gaq.push(['_trackEvent', 'Index-Client', 'Click', 'Pascal']);"><img src="./assets/img/pascal_logo.png" class="img-responsive col-lg-12 top-space"></a>
      </div>
      <div class="col-md-6 vcenter">
	<a href="http://mangaloreinfotech.in" onClick="_gaq.push(['_trackEvent', 'Index-Client', 'Click', 'MISPL']);"><img src="./assets/img/mispl_logo.png" class="img-responsive col-lg-12"></a>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 top-buffer"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div class="row-fluid">
      <h1 class="margin-base-vertical text-center">Wary about using an outsourcing provider?</h1>
      <p class="text-justify">We are keenly aware of several pitfalls with outsourcing. And we have taken precautions to make our engagements successful. Find out more by clicking on the common objections below.</p>
      <div class="col-md-4 vcenter top-space-15">
	<a href="./outsourcing-safeguards" onClick="_gaq.push(['_trackEvent', 'Index-Burned-Before', 'Click', 'Burned before']);"><img src="./assets/img/qxf2_indian_outsourcing_button.png" class="img-responsive col-lg-12"></a>    
	<h2 class="margin-base-vertical text-center grey_text">Burned before?</h2>
      </div>
      <div class="col-md-4 vcenter top-space-15">
	<a href="./engineering-credibility" onClick="_gaq.push(['_trackEvent', 'Index-Engineering-Concerns', 'Click', 'Engineering team concerns']);"><img src="./assets/img/qxf2_culture_clash.png" class="img-responsive col-lg-12"></a>    
	<h2 class="margin-base-vertical text-center grey_text">Engineering team concerns?</h2>
      </div>
      <div class="col-md-4 vcenter top-space-15">
	<a href="./no-requirements" onClick="_gaq.push(['_trackEvent', 'Index-Unprepared', 'Click', 'Unprepared']);"><img src="./assets/img/qxf2_no_requirements_button.png" class="img-responsive col-lg-12"></a>    
	<h2 class="margin-base-vertical text-center grey_text">Feeling unprepared?</h2>
     <!--p class="text-justify">Feel unprepared to on-board testers? May be you don't have enough documentation. May be your requirements are changing rapidly. Our testers are resourceful. Learn more about how we <a href="">approach the first few weeks.</a></p-->
      </div>
    </div>
  </div>
</div>
