
  <div class="col-md-10 col-md-offset-1 top-space-30">
    <div class="col-md-12">
      <p class="text-justify">
	Feel unprepared to on-board testers? Don't have enough documentation? Requirements changing too rapidly? Don't worry! Our testers are resourceful. Here are a few reasons why we are likely to succeed at your company:
	<ol>
	  <li>We routinely solve this problem at other clients</li>
	  <li>We have an approach that does not rely on documentation</li>
	  <li>We practice this exact scenario over and over again</li>
	  <li>We conduct free two week trials where we often over deliver</li>
	</ol>
      </p>
    </div>
  </div>
  <div class="col-md-12 top-buffer"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12">
  </div>

  <div class="col-md-10 col-md-offset-1 top-space-20">
    <div class="col-md-12">
      <h2 class="grey_text text-center">1. We have solved this problem at other clients</h2>
      <div class="col-md-12 img-rounded">
	<div class="col-md-10 vcenter">
	  <p class="text-justify testimonial top-space-30">As a client services team member at a small startup software company, Qxf2 provided a much needed QA role for our team. We quickly went from regular post deploy bug fixes with emergency deploys to an environment where they have become extremely rare!</p>
	  <p class="text-right testimonial"><strong>Katie Stauffer</strong>, Senior Manager, Client Services @ Pascal Metrics</p>
	</div>
	<div class="col-md-2 vcenter top-space-30">
	  <img src="./assets/img/testimonials/katie.jpg" class="img-responsive img-circle col-lg-12 top-space">	
	</div>
      </div>
      <div class="col-md-12 vcenter top-space">
	<p class="text-justify">
	  Your company is not going to be our first rodeo. Our niche market is startups. We help startups lay the groundwork for testing. We have experience dealing with a near total lack of requirements to aid our testing. You gain by hiring Qxf2 because we have a lot of boiler plate automation code, experience solving tricky (but common) startup testing problems and a knowledge of a wide variety of tools that will quickly establish a solid foundation for your testing. 
	</p>
      </div>
    </div>
  </div>
  <div class="col-md-12 top-buffer"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12">
  </div>

  <div class="col-md-10 col-md-offset-1 top-space-20">
    <div class="col-md-12">
      <h2 class="grey_text text-center">2. Our approach does not rely on documentation</h2>
      <div class="col-md-12 img-rounded">
	<div class="col-md-10 vcenter top-space-30">
	  <p class="text-justify testimonial">In two weeks Avinash with his offshore team was able to understand the loop holes in our test process, able to suggest tools to make our process better and implemented an automated end-to-end test suite in Python Selenium with pretty much <strong>no management overhead</strong>.</p>
	  <p class="text-right testimonial"><strong>Prashanth Shenoy Katpady</strong>, CTO, @ UniCourt</p>
	</div>
	<div class="col-md-2 vcenter top-space-30">
	  <img src="./assets/img/testimonials/prashanth.jpg" class="img-responsive img-circle col-lg-12 top-space">	
	</div>
      </div>
      <div class="col-md-12 vcenter top-space">
	<p class="text-justify">
	We have written a lot about our approach. Take a look at how we <a href="./where-start-testing">identify where to start testing</a>. You will notice we do not rely on your documented requirements. We are resourceful. We consult your marketing materials, talk to your subject matter experts, do our own exploration of your product and whole lot more. So if you have no written requirements, don't sweat it. We can still help.   
	</p>
      </div>
    </div>
  </div>
  <div class="col-md-12 top-buffer"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12">
  </div>

  <div class="col-md-10 col-md-offset-1 top-space-20">
    <div class="col-md-12">
      <h2 class="grey_text text-center">3. We practice this exact scenario over and over again</h2>
      <p class="text-justify top-space-20">
	We spend our bench time practicing testing. We usually pick startups we would like to work with. We time-limit ourselves to one week. Then we read up as much about their product as we can. If we can sign up for free trial of the product, we end up writing simple automation for the product. See an example on our <i class="icon icon-github"></i> <a href="https://github.com/qxf2/FiscalNote">GitHub</a>. If we cannot access the product, we end up becoming creative detectives and scour the Internet for clues on how the product would likely look. Then we try and judge how we would likely test the product. Yes, its hard - but we can do quite a bit! See an example report we came up with over <a href="./rocketrip">here</a>. If we can do all that without talking to a single person, we are sure we can help even more when we get to talk to you! 
      </p>
    </div>
  </div>
  <div class="col-md-12 top-buffer"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12">
  </div>

  <div class="col-md-10 col-md-offset-1 top-space-20">
    <div class="col-md-12">
      <h2 class="grey_text text-center">4. We over deliver on our two week trials</h2>
      <p class="text-justify top-space-20">
	Look at how much we do during a <a href="./typical-trial">typical two week trial</a> for new clients. We often end up over delivering during the two week trial. If we can do that much in two weeks, we can definitely get started quickly at your company too!
      </p>
    </div>
  </div>


