<div class="col-md-10 col-md-offset-1 top-space">
  <div class="col-md-12">
    <div class="row-fluid top-space">
      <div class="col-md-8 vcenter top-space-30">
	<p class="text-justify">Have you unsuccessfully tried outsourcing before? Chances are that you ran into one of four pitfalls:: 
	  <ol>
	    <li>Insufficient technical know how</li>
	    <li>Cultural differences</li>
	    <li>Poor remote working skills</li>
	    <li>Managing time zone differences badly</li>
	  </ol> 
	</p>
      </div>
      <div class="col-md-4 vcenter">
	<img src="./assets/img/qxf2_outsourcing_factors.png" class="img-responsive col-lg-12 top-space-20">	
      </div>
      <div class="col-md-12 vcenter">
	<p class="text-justify">At Qxf2, we safeguard against all the major pitfalls with outsourcing. At the heart of our approach is embedding engineers within your agile teams. We do not act as an independent testing unit. Every billed tester interacts directly with your team and not through a liaison. While embedding engineers into sprint teams reduces overhead and increases efficiency, we do more! Read on to see how we combat each of the major pitfalls with outsourcing.</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 top-buffer"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div class="row-fluid top-space"><!--1.-->
      <h2 class="grey_text text-center">1. Technical know how</h2>
      <div class="col-md-12 img-rounded">
	<div class="col-md-10 vcenter top-space-20">
	  <p class="text-justify testimonial">Arun's experience onsite with clients in the US means that he <strong>understands how software gets built and how to effectively test it</strong>.</p>
	  <p class="text-right testimonial"><strong>Adam Hahn</strong>, Director of Engineering @ Pascal Metrics</p>
	</div>
	<div class="col-md-2 vcenter">
	  <img src="./assets/img/testimonials/adam.jpg" class="img-responsive img-circle col-lg-12 top-space">	
	</div>
      </div>
      <div class="col-md-12 vcenter top-space">
	<p class="text-justify">We have been early employees at startups and witnessed the collaborative and co-evolutionary nature of producing outstanding software. We understand making software is rarely like a manufacturing process. We are well read and stay current with the developments in software engineering. We actively explore new tools and blog about them. One of our coolest technical wins was using map-reduce to speed up our API tests. <a href="./technical-safeguards" class="blue-link"><u><strong>See details here.</strong></u></a>
	</p>
      </div>
    </div>
    <div class="col-md-12 top-buffer"><!--Separator-->
      <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
    </div><!--1.-->
    
    <div class="row-fluid top-space"><!--2.-->
      <h2 class="grey_text text-center">2. Culture</h2>
      <div class="col-md-8 vcenter top-space">
	<p class="text-justify"> We have heard of several outsourcing engagements fail due to cultural differences. You expected people to speak up when you took a false step and instead you were greeted with nodding heads. You hate emails but get pages of email sent to you everyday. We are a small company ourselves and we appreciate how important it is to work with people who understand and appreciate your culture. Most Qxf2 employees have worked outside India for many years. We have lead teams abroad and helped our clients hire employees. So we have a fairly good idea of the kind of culture-fit that you are seeking in your colleagues. <a href="./culture-safeguards" class="blue-link"><u><strong>See details here.</strong></u></a>
	</p>
      </div>
      <div class="col-md-4 vcenter top-space-30">
	<img src="./assets/img/qxf2_way.jpg" class="img-responsive col-lg-12 center-block">
      </div>
    </div>
    <div class="col-md-12 top-buffer"><!--Separator-->
      <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
    </div><!--2.-->
    
    <div class="row-fluid top-space"><!--3.-->
      <div class="col-md-12 vcenter">
	<h2 class="grey_text text-center">3. Remote working</h2>
	<div class="col-md-12 img-rounded">
	  <div class="col-md-10 vcenter top-space-20">
	    <p class="text-justify testimonial">Many people may be wary of working with a company located on a different continent; however, <strong>Arun and his team are masters at working remotely</strong>.</p>
	    <p class="text-right testimonial"><strong>Natasha Scott</strong>, VP, Scientific Instruments @ Pascal Metrics</p>
	  </div>
	  <div class="col-md-2 vcenter">
	    <img src="./assets/img/testimonials/natasha.jpg" class="img-responsive img-circle col-lg-12 top-space">	
	  </div>
	</div>
	<div class="col-md-12 vcenter top-space">
	  <p class="text-justify">Good remote working skills are essential to making outsourcing work. We use a whole host of tools to collaborate remotely - Hangouts, Skype, git, Trello, JIRA, TestRail, Google docs, Evernote, etc. You will notice that we participate actively in your watercooler chats sharing interesting links and relevant articles. We show our faces on video chats. And we practice working remote even internally within Qxf2. So many outsourcing providers require employees to work physically from their office and make employees jump through hoops to work from home. Not us! Our employees are encouraged to work from home. <a href="./remote-safeguards" class="blue-link"><u><strong>See details here.</strong></u></a></p>
	</div>
      </div>
    </div><!--3.-->
    <div class="col-md-12 top-buffer"><!--Separator-->
      <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
    </div>

    <div class="row-fluid"><!--4.-->
      <div class="col-md-12 vcenter">
	<h2 class="grey_text text-center">4. Time zone differences</h2>
	<div class="col-md-12 img-rounded">
	  <div class="col-md-10 vcenter top-space-20">
	    <p class="text-justify testimonial"> The <strong>offset in time was a boon to our productivity</strong> since they were able to test functionality delivered overnight. However that offset did not negatively impact the team since they were present throughout the morning into the middle of the afternoon.</p>
	    <p class="text-right testimonial"><strong>E. Andres Holzer-Torres</strong>, Software Engineer @ Pascal Metrics</p>
	  </div>
	  <div class="col-md-2 vcenter">
	    <img src="./assets/img/testimonials/andres.png" class="img-responsive img-circle col-lg-12 top-space">	
	  </div>
	</div>
	<div class="col-md-12 vcenter top-space">
	  <p class="text-justify">Time zone differences are a double edged sword. Use them poorly and things slow down. Manage them wisely and you speed up! Our approach of embedding engineers within your agile teams ensures you get sufficient time overlap with each billed tester. Qxf2 testers usually have a list of defects, questions and observations ready for you by the time you begin your day. We typically spend an hour each side of your stand up collaborating with your employees. We also make it a point to participate in all your agile rituals - standups, sprint planning, demos, retrospectives and reviews. <a href="./timezone-safeguards" class="blue-link"><u><strong>See details here.</strong></u></a></p>
	</div>
      </div>
    </div><!--4.-->
  </div>
</div>
