
<div class="col-md-12"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
</div>

<div class="col-md-10 col-md-offset-1 top-space-20">
  <div class="col-md-12">
    <h2 class="grey_text text-center">Performance testing tools: DIY guide</h2>
    <p class="text-justify">Most applications need to be performance tested at somepoint in their life. Sow the seeds of performance testing early at your company by following these simple guides.</p>
  </div>
  <div class="col-md-12"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
  </div>

  <div class="col-md-12 top-space">
    <p class="text-justify top-space-20">
      <strong>1. <a href="http://qxf2.com/blog/get-started-jmeter/" class="text-danger"><u>JMeter TUTORIAL</u></a></strong> <span class="label label-success">Beginner</span><br>
      A fantastic video to get started with JMeter in less than 30 minutes. Saurabh covers a whole range of JMeter topics like installation, test plans, thread groups, configuration elements, samplers, assertions, listeners, handling parameters and a whole host of JMeter gotchas. 
    </p>
    <p class="text-justify top-space-20">
      <strong>2. <a href="http://qxf2.com/blog/performance-testing-using-gatling/" class="text-danger"><u>GATLING TUTORIAL</u></a></strong> <span class="label label-success">Beginner</span><br>
      In this tutorial you will learn about Gatling which is an open source load testing framework based on Scala, Akka and Netty and arm our self for load testing.
    </p>
  </div>
</div>
