
<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12 top-space-50">
    <div class="row-fluid">
      <div class="col-md-6 vcenter">
	<img src="./assets/img/qxf2_profile.jpg" class="img-responsive col-md-12">
      </div>
      <div class="col-md-6 vcenter">
	<h2 class="margin-base-vertical text-center">Why the name Qxf2?</h2>
	<p class="text-justify">Because I love chess. The name Qxf2 comes from black's 21st move in this brilliant game: <a href="http://www.chessgames.com/perl/chessgame?gid=1477101">M. Krasenkow vs H. Nakamura, Barcelona, 2007</a>. The 'queen takes f2' position also happens to be my profile picture on Wordpress, Twitter and Skype.</p>
      </div>
    </div>
  </div>

