
  <div class="col-md-10 col-md-offset-1 top-space-30">
    <div class="col-md-12 img-rounded">
      <div class="col-md-9 vcenter top-space-30">
	<p class="text-justify testimonial">Many people may be wary of working with a company located on a different continent; however, <strong>Arun and his team are masters at working remotely</strong>. There are some days that I speak with Arun and Saurabh more than other team members physically located in the same office.</p>
	<p class="text-right testimonial"><strong>Natasha Scott</strong>, VP, Scientific Instruments @ Pascal Metrics</p>
      </div>
      <div class="col-md-3 vcenter">
	<img src="./assets/img/testimonials/natasha.jpg" class="img-responsive img-circle col-lg-12 top-space">	
      </div>
    </div>
  </div>
  <div class="col-md-12 top-buffer"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12">
  </div>

  <div class="col-md-10 col-md-offset-1 top-space-20">
    <div class="col-md-12">
      <p class="text-justify">
	Good remote working skills are essential to making outsourcing work. And if you believe the folks at <a href="http://37signals.com/remote/">Basecamp</a>, working remote is going to become a big part of companies everywhere. At Qxf2, we use a whole host of tools to collaborate remotely - Hangouts, Skype, git, Trello, JIRA, TestRail, Google docs, Evernote, etc. We are comfortable with asynchronous communication on Slack, HipChat or Skype. 
      </p>
      <p>
	We are mindful of the pros and cons of different mediums of communication. For example, we know that tone gets lost over chat. We also know that silence is not golden when someone is waiting on you to complete a critical task. We make it a point to give regular 'empathy updates' to folk waiting on us. We know that poor network connections can ruin meetings and make work inefficient. So we have invested in four ISPs (fiber connections) for our office.   
      </p>
      <p class="text-justify top-space-20">
	It is easy to view remote people as faceless 'remote resources'. So we make it a point to show our faces on video chat. We participate in watercooler chats sharing interesting links, relevant articles and talking about our hobbies. That way, you are often reminded that we are smart people and not just faceless 'remote resouces'. 
      </p>
      <p class="text-justify top-space-20">
	We practice working remotely. All Qxf2 employees have the option of working from home. So many outsourcing providers require their employees to work physically from their office. That drives us crazy! Our employees are encouraged to work from home as long as they invest in good headsets and a broadband Internet connection. 	
      </p>
    </div>
  </div>


