<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <h1 class="margin-base-vertical text-center">Rocketrip Test Strategy</h1>
    <p class="text-justify">
      This report is one of the several practice exercises Qxf2 testers undertake. We wrote this entire report without having any access to the application. We spoke to exactly zero employees at <a href="http://www.rocketrip.com/">Rocketrip</a>. All our knowledge about Rocketrip comes only from public sources of information available on the Internet. So, yes! Good testers can learn a lot about a product without having access to it.
    </p>
  </div>
  <div class="col-md-12"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
  </div>

  <div class="col-md-12">
    <h2 class="text-left">I. Travellers in Rocketrip's journey</h2>
    <p class="text-justify">
      We thought about the problem Rocketrip is solving. We identified four key partners/stakeholders and imagined what they likely value in the software.
      <img alt="Rocketrip Travellers Journey" src="./assets/img/reports/rocketrip/image03.jpg" class="img-responsive center-block">
    </p>
    <p class="text-center top-space-20">
      <a class="btn btn-success btn-large" id="submit_btn" value="Submit" onClick="javascript:toggle('travellers_details');">Show more details</a>
    </p>
    <div id="travellers_details" style="display: none">
      <p class="text-justify">
	<ol type="1">
	  <li>
	    <b>Companies</b>
	    <ol type="a">
	      <li>Did they save money - benchmark budget should be reasonable</li>
	      <li>Good dashboards to notice savings 'at a glance'</li>
	      <li>Motivation to save should not affect employee performance</li>
	    </ol>
	  </li>
	  <li>
	    <b>Employees</b>
	    <ol type="a">
	      <li>Should save money - benchmark budget should be reasonable</li>
	      <li>Good cost saving tips</li>
	      <li>Good integration for bill submission</li>
	      <li>Choices of gift card vendors</li>
	      <li>Ease of use - get a budget, see calendar events, redeem points, etc</li>
	    </ol>
	  </li>
	  <li>
	    <b>HR folk</b>
	    <ol type="a">
	      <li>Ease of uploading and updating company policies, employee details</li>
	      <li>Ease integrating Rocketrip with current expense and travel systems</li>
	      <li>Good customer support</li>
	    </ol>
	  </li>
	  <li>
	    <b>Travel and gift card vendors</b>
	    <ol type="a">
	      <li>Customer acquisition</li>
	    </ol>
	  </li>
	</ol>
      </p>
    </div>
  </div>
  <div class="col-md-12"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
  </div>

  <div class="col-md-12">
    <h2 class="text-left">II. Groundwork for testing Rocketrip</h2>
    <p = class="text-justify">Keeping the above stakeholders and their wants in mind, we imagined how the software would look. Some of the sources we used to learn more about Rocketrip were: 
      <a href="https://www.youtube.com/watch?v=ODc58IFleHg">GSummit 2014 talk</a>,
      <a href="http://info.rocketrip.com/resources">case studies</a>,
      <a href="https://www.rocketrip.com/jobs">job postings</a>,
      <a href="https://www.rocketrip.com">website</a>,
      <a href="https://www.rocketrip.com/press/">press releases</a>,
      <a href="http://www.eyefortravel.com/revenue-and-data-management/how-use-algorithms-democratise-corporate-travel-and-make-it-more">interviews</a> and
      <a href="http://blog.rocketrip.com/">blog posts</a>. We came up with the below list of components, features and testing recommendations.
    </p>
    <div>
      <img alt="Rocketrip components and testing reccomendations" src="./assets/img/reports/rocketrip/image01.jpg" class="img-responsive center-block"/>
    </div>
    <p class="text-center top-space-20">
      <a class="btn btn-success btn-large" id="submit_btn" value="Submit" onClick="javascript:toggle('groundwork_components');">Show more details</a>
    </p>
    <div id="groundwork_components" style="display: none">
      <p class="text-justify">
	<ol type="1">

	  <li>
	    <b>Benchmark budget calculation:</b>
	    <ol type="a">
	      <li class="text-justify"><b>Why?</b> The secret sauce for Rocketrip.</li>
	      <li class="text-justify"><b>What?</b> We expect the algorithm to be based on type of booking, company policy, employee details and real time market data.</li>
	      <li class="text-justify"><b>How to test?</b> Given the importance of the benchmark budget to the product, we recommend multiple layers of testing here. We would likely test the algorithm, third party integrations and the UI separate from one another. We think we would end up with the following: unit tests, integration tests with vendor APIs, monitoring and alerting for vendor APIs, API tests, ability to mock real time data for repeatable tests and performance tests.</li>
	    </ol>
	  </li>

	  <li>
	    <b>Reporting and Dashboards</b>
	    <ol type="a">
	      <li class="text-justify"><b>Why?</b> Drives home why people should use Rocketrip</li>
	      <li class="text-justify"><b>What?</b> The reports probably cover savings related analytics, saver scenarios, booking analytics and travel expense comparisons.</li>
	      <li class="text-justify"><b>How to test?</b> We recommend testing for accuracy and visual appeal. Accuracy tests will likely be performed by a combination of API tests and DB checks. For UI tests, we would write Selenium tests to cover combinations of browsers, access levels (administrator, employer, employee) and screens/graphs.</li>
	    </ol>
	  </li>

	  <li>
	    <b>Get baseline budget form</b>
	    <ol type="a">
	      <li class="text-justify"><b>Why?</b> Key interface for an employee to use Rocketrip.</li>
	      <li class="text-justify"><b>What?</b> A form for employees to get baseline budget for their travel plans.</li>
	      <li class="text-justify"><b>How to test?</b> We recommend thorough form-testing. The presence of date fields (hello time zones!), categories of travel, multiple text inputs and links to book through select vendors require automation. We would most probably need to write Selenium tests to ensure good coverage across the various actions a user can perform on the form. This includes checking for good feedback/validation messages on the UI. We would also likely write API tests. This piece may need performance testing depending on how many users you have and the architecture of calculating the baseline budget.</li>
	    </ol>
	  </li>

	  <li>
	    <b>Manage expense reports</b>
	    <ol type="a">
	      <li class="text-justify"><b>Why? Employee needs to submit expense form to earn rewards</b></li>
	      <li class="text-justify"><b>What?</b> We expect a form that integrates with some 3rd party expense management tools.</li>
	      <li class="text-justify"><b>How to test?</b> This seems to be (without looking at the product) one of the non-scaleable aspects of Rocketrip. For this feature, we would recommend that you test only till 'good enough' and reduce engineering effort by architecting the 3rd party integration in a way that it can be deployed independently. Every time a new vendor is integrated, we advocate thoroughly testing the first time around. Then add some good monitoring for the API you use to connect to third party. We expect you will not modify this part of the code too often once the integration is done. We would also strongly recommend building something to independently deploy each integration. This will help reduce the regression testing load of the QA team.</li>
	    </ol>
	  </li>

	  <li>
	    <b>Manage rewards</b>
	    <ol type="a">
	      <li class="text-justify"><b>Why?</b> Adds to the 'stickiness' of the product. Provides an additional revenue stream for Rocketrip through vendor deals.</li>
	      <li class="text-justify"><b>What?</b> We expect a catalog of different vendors.</li>
	      <li class="text-justify"><b>How to test?</b> We need to ensure that the user experience to select vendors is good for the employees. Depending on the balance of power in the relation, Rocketrip may think about how easy the vendor makes it for the employee to redeem points. Testing this piece will need some co-ordination with vendors to set up test accounts. We would perform a combination of UI and API tests.</li>
	    </ol>
	  </li>

	  <li>
	    <b>User management (admin)</b>
	    <ol type="a">
	      <li class="text-justify"><b>Why?</b> Great products deserve users!</li>
	      <li class="text-justify"><b>What?</b> Need a way to set up employees and roles in the product. We envision that the software allows certain roles to add/edit/delete employee details, define their roles and figure out their budget allowance based on company policy.</li>
	      <li class="text-justify"><b>How to test?</b> We recommend workflow tests. Routine CRUD operations are easy to test, but the challenge is performing these actions in different sequences and confirming that the permissioning and reporting looks correct. We would request the ability to impersonate users on the test environment. Additionally we likely need UI automation, unit tests for access control, API tests to enhance our UI coverage and additional security testing too. Mistakes in user management propagate through the product and manifest themselves everywhere. So it makes sense to build heavy testing for this feature.</li>
	    </ol>
	  </li>

	  <li>
	    <b>Expense management (admin)</b>
	    <ol type="a">
	      <li class="text-justify"><b>Why?</b> Admins need a way to manage submitted expense reports.</li>
	      <li class="text-justify"><b>What?</b> Review bills submitted, approve expenses and manually over-ride mistakes.</li>
	      <li class="text-justify"><b>How to test?</b> We recommend workflow tests. We recommend more UI testing and some basic API testing for key actions like approve, delete and over-ride.</li>
	    </ol>
	  </li>

	  <li>
	    <b>Travel policy management (admin)</b>
	    <ol type="a">
	      <li class="text-justify"><b>Why?</b> Companies need to give Rocketrip their travel policy details.</li>
	      <li class="text-justify"><b>What?</b> A few screens to setup and update the company's travel policy.</li>
	      <li class="text-justify"><b>How to test?</b> We do not have enough knowledge of travel policies to imagine this. We figure if we had a chance to work with you, we could quickly look at your existing clients and figure out how to test this piece.</li>
	    </ol>
	  </li>
	</ol>
      </p>
      <table cellpadding="0" cellspacing="0">
	<tbody>
          <tr>
            <td colspan="1" rowspan="1">
              <p class="text-justify">
		<span><img alt="Note" src="./assets/img/reports/rocketrip/image02.jpg"/></span>
              </p>
            </td>
            <td colspan="1" rowspan="1">
              <p class="text-justify">
		<span>While onboarding a new client we expect updating the travel policy management and the integration with third party expense management systems to be places where engineering effort does not scale</span>
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="1" rowspan="1">
              <p class="text-justify">
		<span><img alt="Note" src="./assets/img/reports/rocketrip/image02.jpg"/></span>
              </p>
            </td>
            <td colspan="1" rowspan="1">
              <p class="text-justify">
		<span>We expect that your screens for admin functions to have received less love and care from your team. It probably would have made sense for a startup to spend its limited time polishing the user facing screens and take on debt of manually managing the admin functionality.</span>
              </p>
            </td>
          </tr>
	</tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
  </div>

  <div class="col-md-12">
    <h2 class="text-left">III. Testing tools</h2>
    <p class="text-justify">We are conversant with a variety of automation tools. We are making an educated guess that you use Python and possibly Django. Reason: We used <a href="http://builtwith.com/rocketrip.com">builtwith</a> and noticed you use Django CSRF - indicating the place users login to your website. Our hunch was strengthened when we saw this job posting for a <a href="https://jobs.lever.co/rocketrip/09d39f72-018d-4496-84e7-9081852b2741">software developer</a>. We are listing several tutorials we have published on our blog. Please take this as evidence of our comfort with Python and automation.
    </p>
    <table class="table-responsive borderless">
      <tbody>
	<tr>
	  <td class="col-md-6"><img alt="Qxf2 toolbelt" src="./assets/img/reports/rocketrip/image06.jpg" class="img-responsive"/></td>
	  <td class="col-md-6">
	    <table class="table table-responsive table-striped">
	      <tbody>
		<tr>
		  <td class="text-justify">
		    1. <b>Unit testing:</b>
		    <a href="http://qxf2.com/blog/python-unit-checks/">Python Mock</a>,
		    <a href="http://qxf2.com/blog/junit-tutorial-beginners/">JUnit</a>,
		    <a href="http://qxf2.com/blog/get-started-with-testng/">TestNG</a>,
		    <a href="http://qxf2.com/blog/javascript-unit-testing-jasmine/">Jasmine</a>,
		    <a href="http://qxf2.com/blog/android-unit-testing-robolectric-tutorial/">Android</a>
		  </td>
		</tr>
		<tr>
		  <td class="text-justify">
		    2. <b>API testing:</b>
		    <a href="http://qxf2.com/blog/api-testing-developer-tools/">API basics</a>,
		    <a href="http://qxf2.com/blog/api-testing-ui-tools-postman/">API tools</a>,
		    <a href="http://qxf2.com/blog/python-mechanize-the-missing-manual/">Python Mechanize</a>,
		    <a href="http://qxf2.com/blog/api-testing-using-runscope/">Runscope</a>
		  </td>
		</tr>
		<tr>
		  <td class="text-justify">
		    3. <b>Selenium:</b>
		    <a href="http://qxf2.com/blog/page-object-tutorial/">Batman and page objects</a>,
		    <a href="http://qxf2.com/blog/page-object-model-selenium/">Page object model</a>,
		    <a href="http://qxf2.com/blog/xpath-tutorial/">Art of writing xpaths</a>
		  </td>
		</tr>
		<tr>
		  <td class="text-justify">
		    4. <b>Mobile automation:</b>
		    <a href="http://qxf2.com/blog/appium-mobile-automation/">Appium 1</a>,
		    <a href="http://qxf2.com/blog/appium-tutorial-python-physical-device/">Appium 2</a>,
		    <a href="http://qxf2.com/blog/selendroid-mobile-automation/">Selendroid</a>,
		    <a href="http://qxf2.com/blog/identify-ui-elements-mobile-apps/">Identifying elements</a>
		  </td>
		</tr>
		<tr>
		  <td class="text-justify">
		    5. <b>Performance:</b>
		    <a href="http://qxf2.com/blog/get-started-jmeter/">JMeter</a>,
		    <a href="http://qxf2.com/blog/performance-testing-using-gatling/">Gatling</a>
		  </td>
		</tr>
		<tr>
		  <td class="text-justify">
		    6. <b>Infrastructure:</b>
		    <a href="http://qxf2.com/blog/get-started-with-jenkins/">Jenkins 1</a>,
		    <a href="http://qxf2.com/blog/jenkins-python/">Jenkins + Python</a>,
		    <a href="http://qxf2.com/blog/running-selenium-automation-using-sauce-labs-part-3/">Sauce Labs</a>,
		    <a href="http://qxf2.com/blog/browserstack-part1/">BrowserStack</a>
		  </td>
		</tr>
	      </tbody>
	    </table>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
  </div>

  <div class="col-md-12">
    <h2 class="text-left">IV. Learnings from our past missions</h2>
    <p class="text-justify">Phew! That was a lot of technical detail to answer your ad. But if you are looking for your first tester, it is likely that you are facing issues that have manifested as people problems too. Qxf2 Services is built for startups. We have had the experience of being the first tester hired at a startup. We can help you. But irrespective of whether you end up hiring us or not, here are a few suggestions for hiring your first tester.
    </p>
    <div>
      <img alt="Tips for hiring your first tester" src="./assets/img/reports/rocketrip/image05.jpg" class="img-responsive center-block"/>
    </div>
    <p class="text-center top-space-20"><a class="btn btn-success btn-large" id="submit_btn" value="Submit" onClick="javascript:toggle('learnings_details');">Show more details</a></p>
    <div id="learnings_details" style="display: none">
      <p class="text-justify">
	<ol type="1">
	  <li class="text-justify">
	    <b>Hire for attitude</b>. Its likely that your first tester needs to be like <a href="https://c1.staticflickr.com/1/41/94983287_17833beb94.jpg">this guy</a> until the testing team has won credibility within your organization.
	  </li>
	  <li class="text-justify">
	    Look for testers that <b>think in ranges</b>. At a startup it is likely that approaches to testing shift dramatically and quickly based on external factors. Its useful if testers understand the dynamic context and adjust their testing.
	  </li>
	  <li class="text-justify">
	    Balance <b>product scalability</b> and <b>organizational scalability</b>. It is good to have testers who balance both product scalability (think unit tests and automated checks for regression) as well as organizational scalability (think behavior, values, interacting with people, verbalizing complexity).
	  </li>
	</ol>
	Some good indicators of whether your first tester is succeeding are:
	<ol type="1">
	  <li class="text-justify">
	    Customer support feel less surprised and more sure-footed about deploys.
	  </li>
	  <li class="text-justify">
	    Has built credibility for the testing team. People trust your testing team when they sign off on a deploy.
	  </li>
	</ol>
      </p>
    </div>
  </div>
  <div class="col-md-12"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
  </div>


  <div class="col-md-12">
    <h2 class="text-left">V. About us</h2>
    <table class="table-responsive borderless">
      <tbody>
	<tr>
	  <td class="col-md-2"><img alt="Avinash Shetty" src="./assets/img/reports/rocketrip/image04.jpg" class="img-responsive img-circle"/></td>
	  <td class="col-md-10 text-justify"><b>Avinash Shetty</b>: I have 8+ years of experience in software testing. As a student of the context-driven approach to testing, I feel there is a lot to learn out there which keeps me excited. My work has helped me gain experience in different areas of testing like CRM, Web, Mobile, Database testing, tools like Selenium and Appium using Java and Python. Beside testing I love watching and playing sports. <br><a href="https://www.linkedin.com/profile/view?id=161799342">LinkedIn</a> <a href="http://qxf2.com/blog/author/avinash/">Blog</a> <a href="https://twitter.com/avinash010">Twitter</a></td>
	</tr>
	<tr>
	  <td class="col-md-2"><img alt="Vrushali Toshniwal" src="./assets/img/reports/rocketrip/image07.jpg" class="img-responsive img-circle"/></td>
	  <td class="col-md-10 text-justify"><b>Vrushali Mahalley</b>: I am a Computer Science graduate from BITS-Pilani and have worked at Sun Microsystems (now Oracle) for 7+ yrs.I was part of the testing and sustaining team for Portal Server and Identity Management products.Currently working at Qxf2 Services ,with a fresh perspective on testing and enjoying the work here after a break of 6 yrs from software industry.I love travelling and listening to music. <br><a href="https://www.linkedin.com/in/vrushalimahalley">LinkedIn</a> <a href="http://qxf2.com/blog/author/vrushali/">Blog</a></td>
	</tr>
	<tr>
	  <td class="col-md-2"><img alt="Qxf2 Services" src="./assets/img/qxf2_logo.png" class="img-responsive img-circle"/></td>
	  <td class="col-md-10 text-justify"><b>Qxf2 Services</b> provides software testing services for startups. We love the craft of testing. Our testing experts help you deliver better software. We can setup your test team, introduce automation, evaluate your current testing, interview candidates for you and so much more! Contact: mak@qxf2.com <br><a href="https://www.linkedin.com/company/qxf2-services">LinkedIn</a> <a href="http://qxf2.com/blog/">Blog</a> <a href="https://twitter.com/Qxf21">Twitter</a></td>
	</tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
  </div>
</div>  
