
<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div class="row-fluid">
      <div class="col-md-6 vcenter">
	<img src="./assets/img/qxf2_story.jpg" class="img-responsive img-circle col-md-12">
      </div>
      <div class="col-md-6 vcenter">
	<h2 class="margin-base-vertical text-center">Our story</h2>
	<p class="text-justify">Hi! I am Arunkumar Muralidharan. A software tester by profession. I stumbled into running my own testing services company. I worked in the US for several years before returning home to Bengaluru for personal reasons. Starting my own company felt like my least bad option. I founded Qxf2 Services in February, 2013. I have set out to model Qxf2 Services based on business philosophies I admire - <a href="http://37signals.com/manifesto">Basecamp</a>, <a href="http://www.joelonsoftware.com/articles/HighNotes.html">Fog Creek</a>, <a href="http://www.slideshare.net/reed2001/culture-1798664">Netflix</a> and <a href="http://en.wikipedia.org/wiki/ThoughtWorks">ThoughtWorks</a>. 
	</p>
      </div>
    </div>
  </div>

