
<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div id="employees">
      <div class="row-fluid clearfix">
	<div class="col-md-2 col-md-offset-2">
	  <a href="arun" onClick="_gaq.push(['_trackEvent', 'Team', 'Click', 'Arun']);"><img src="./assets/img/team/arun.jpg" class="img-responsive img-circle">
	  <p class="text-center">Arunkumar Muralidharan</p></a>
	</div>
	<div class="col-md-2">
	  <a href="raji" onClick="_gaq.push(['_trackEvent', 'Team', 'Click', 'Raji']);"><img src="./assets/img/team/raji.jpg" class="img-responsive img-circle">
	  <p class="text-center">Rajeswari Gali</p></a>
	</div>
	<div class="col-md-2">
	  <a href="deepthi" onClick="_gaq.push(['_trackEvent', 'Team', 'Click', 'Deepthi']);"><img src="./assets/img/team/deepthi.jpg" class="img-responsive img-circle">
	  <p class="text-center">Deepthi Sathish</p></a>
	</div>
	<div class="col-md-2">
	  <a href="rupesh" onClick="_gaq.push(['_trackEvent', 'Team', 'Click', 'Rupesh']);"><img src="./assets/img/team/rupesh.jpg" class="img-responsive img-circle">
	  <p class="text-center">Rupesh Mishra</p></a>
	</div>
	<div class="col-md-2"></div>
      </div>
      <div class="row-fluid clearfix">      
	<div class="col-md-2 col-md-offset-4">
	  <a href="avinash" onClick="_gaq.push(['_trackEvent', 'Team', 'Click', 'Avinash']);"><img src="./assets/img/team/avinash.jpg" class="img-responsive img-circle">
	  <p class="text-center">Avinash Shetty</p></a>
	</div>
	<div class="col-md-2">
	  <a href="vrushali" onClick="_gaq.push(['_trackEvent', 'Team', 'Click', 'Vrushali']);"><img src="./assets/img/team/vrushali.jpg" class="img-responsive img-circle">
	  <p class="text-center">Vrushali Toshniwal</p></a>
	</div>
	<div class="col-md-4"></div>
      </div>
    </div>
  </div>
  <div class="row-fluid col-md-12">
    <div id="content"></div>
  </div>
  <div class="row col-md-12"><!--Separator-->
    <hr class="fancy-line"></hr>
  </div>
</div>

