
  <div class="col-md-10 col-md-offset-1 top-space-30">
    <div class="col-md-12 img-rounded">
      <div class="col-md-9 vcenter top-space-30">
	<p class="text-justify testimonial">Arun's experience onsite with clients in the US means that he <strong>understands how software gets built and how to effectively test it</strong>. When using an offshore team it's critical for the team to be managed by someone who has this understanding.</p>
	<p class="text-right testimonial"><strong>Adam Hahn</strong>, Director of Engineering @ Pascal Metrics</p>
      </div>
      <div class="col-md-3 vcenter">
	<img src="./assets/img/testimonials/adam.jpg" class="img-responsive img-circle col-lg-12 top-space">	
      </div>
    </div>
  </div>
  <div class="col-md-12 top-buffer"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12">
  </div>

  <div class="col-md-10 col-md-offset-1 top-space-20">
    <div class="col-md-12">
      <p class="text-justify">
	A great many outsourcing partnerships fail due to lack of sufficient technical competence. At Qxf2, we fight technical incompetence by staying current and continually working on our testing skills.
	  <br><i class="icon-large icon-edit icon-white"></i> We write tutorials and answer questions on our <a href="http://qxf2.com/blog">blog</a>
	  <br><i class="icon-large icon-th-list icon-white"></i> We wrote our own <a href="http://news.qxf2.com/">testing news aggregator</a>
	  <br><i class="icon-large icon-group icon-white"></i> We co-sponsor a <a href="http://www.meetup.com/Mangaluru-Software-Testing-Group/">meetup</a> to grow the testing tribe in Mangaluru
	  <br><i class="icon-large icon-twitter icon-white"></i> We follow (and are followed) some of the top testing names on <a href="https://twitter.com/qxf21">Twitter</a>
      </p>
      <p class="text-justify top-space-20">
	<i class="icon-large icon-gift"></i> Read about how <a href="http://qxf2.com/blog/run-your-api-tests-in-parallel-mapreducepython/">we used <strong>map-reduce</strong></a> to reduce the time it takes for us to run our API automation.
      </p>
    </div>
  </div>
  <div class="col-md-12 top-buffer"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12">
  </div>

  <div class="col-md-10 col-md-offset-1 top-space-20">
    <div class="col-md-12">
      <h2 class="grey_text text-center">We don't limit our learning to testing!</h2>
      <p class="text-justify">
	We are searching for the conditions that produce remarkable software. So we don't limit our learning to testing. We look for inspiration from other fields. A few such talks that have expanded our views on how good software is made:
      </p>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-1 top-space-20">
    <div class="row-fluid">
      <div class="col-md-4 vcenter">
	<iframe src="https://www.youtube.com/embed/2isOLyfYVnw" frameborder="0" allowfullscreen></iframe>
	<h2 class="margin-base-vertical text-center grey_text">Cynefin Framework</h2>
      </div>
      <div class="col-md-4 vcenter">
	<iframe src="https://www.youtube.com/embed/gKqYMpWZbV8" frameborder="0" allowfullscreen></iframe>
	<h2 class="margin-base-vertical text-center grey_text">Just Culture</h2>
      </div>
      <div class="col-md-4 vcenter">
	<iframe src="https://www.youtube.com/embed/zDEpeWQHtFU" frameborder="0" allowfullscreen></iframe>
	<h2 class="margin-base-vertical text-center grey_text">Engineering and software</h2>
      </div>
    </div>
  </div>


