
<div class="col-md-12"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
</div>

<div class="col-md-10 col-md-offset-1 top-space-20">
  <div class="col-md-12">
    <h2 class="grey_text text-center">Our blog post(s) on designing your test environments</h2>
  </div>
  <div class="col-md-12 top-space">
    <p class="text-justify">
      <strong>1. <a href="http://qxf2.com/blog/designing-you-testing-tiers/" class="text-danger"><u>DESIGNING YOUR TEST TIERS</u></a></strong><br>
      This post is for early stage startups who have only a production tier and do their testing on their development environment. We have a short checklist of things to consider, some suggestions on evolving your test tiers and finally some advice on dealing with data. 
    </p>
  </div>
</div>
