
<div class="col-md-10 col-md-offset-1 top-space-30">
  <div class="col-md-12">
    <div id="employees">
      <div class="row-fluid clearfix">
	<div class="col-md-2 col-md-offset-2">
	  <a href="natasha" onClick="_gaq.push(['_trackEvent', 'Testimonial', 'Click', 'Natasha']);"><img src="./assets/img/testimonials/natasha.jpg" class="img-responsive img-circle">
	  <p class="text-center">Natasha Scott</p></a>
	</div>
	<div class="col-md-2">
	  <a href="prashanth" onClick="_gaq.push(['_trackEvent', 'Team', 'Click', 'Prashanth']);"><img src="./assets/img/testimonials/prashanth.jpg" class="img-responsive img-circle">
	  <p class="text-center small-names">Prashanth Shenoy Katpady</p></a>
	</div>
	<div class="col-md-2">
	  <a href="andres" onClick="_gaq.push(['_trackEvent', 'Team', 'Click', 'Andres']);"><img src="./assets/img/testimonials/andres.png" class="img-responsive img-circle">
	  <p class="text-center">E. Andres Holzer-Torres</p></a>
	</div>
	<div class="col-md-2">
	  <a href="katie" onClick="_gaq.push(['_trackEvent', 'Team', 'Click', 'Katie']);"><img src="./assets/img/testimonials/katie.jpg" class="img-responsive img-circle">
	  <p class="text-center">Katie Stauffer</p></a>
	</div>
	<div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <div class="row-fluid col-md-12 panel panel-blue">
    <div id="content"></div>
  </div>
  <div class="row col-md-12"><!--Separator-->
    <hr class="fancy-line"></hr>
  </div>
</div>

