
<div class="col-md-12"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
</div>

<div class="col-md-10 col-md-offset-1 top-space-20">
  <div class="col-md-12">
    <h2 class="grey_text text-center">Our blog post(s) on test case management software</h2>
  </div>
  <div class="col-md-12"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
  </div>

  <div class="col-md-12 top-space">
    <p class="text-justify top-space-20">
      <strong>1. <a href="http://qxf2.com/blog/testrail-get-your-tests-organized/" class="text-danger"><u>TestRail: ORGANIZE YOUR TESTING BETTER!</u></a></strong> <span class="label label-success">Beginner</span><br>
      Get rid of Word and Excel to manage your test cases. They do not scale well! In this post we explore the popular test case management software: TestRail. We show you examples of how easy it is to organize your testing well with TestRail. <a href="http://www.practitest.com/">PractiTest</a> is another excellent test case manager that you can consider. 
    </p>
</div>
