<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div class="row fluid">
	<a href="./"><img src="./assets/img/qxf2_bugs_1.png" class="img-responsive col-md-3">
	<a href="./approach"><img src="./assets/img/qxf2_need_automation_1.png" class="img-responsive col-md-3 col-md-offset-1"></a>
	<a href="./automation-tools"><img src="./assets/img/qxf2_need_more_testers_1.png" class="img-responsive col-md-3 col-md-offset-1"></a>
    </div>
  </div>
</div>
<div class="col-md-12"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
</div>
<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div class="row-fluid">
      <div class="col-md-6 vcenter">
	<p class="text-justify"><b>It depends.</b> Yep. Our approach depends on <u>your problem</u>. Testing, to us, is not about finding bugs. It is not a rigid practice that needs extensive documentation. And it is definitely not a mindless, repetitive and soul-sucking activity.</p>
      </div>
      <div class="col-md-6 vcenter">
	<img src="./assets/img/qxf2_bugs_1.png" class="img-responsive col-lg-12">	
      </div>
    </div>
  </div>
</div>
<div class="col-md-12"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div class="row-fluid">
      <div class="col-md-6 vcenter">
	<img src="./assets/img/qxf2_need_automation_2.png" class="img-responsive col-lg-12">	
      </div>
      <div class="col-md-6 vcenter">
	<p class="text-justify">Our expert testers can help you deliver better software. And we will do so without radically disrupting the carefully cultivated culture at your company. So whether you are looking for testers to 'find bugs' or testers to 'prevent bugs' (a trendy thing to say these days) or testers to 'automate your troubles away' - Qxf2 can do that and whole lot more!</p>
	<p class="text-center"><a class="btn btn-primary btn-lg" href="./contact" onClick="_gaq.push(['_trackEvent', 'Approach-Contact', 'Click', 'Get in touch']);">Experience the Qxf2 brand of testing!</a></p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div class="row-fluid">
      <div class="col-md-6 vcenter">
	<p class="text-justify">Some filler text. Our expert testers can help you deliver better software. And we will do so without radically disrupting the carefully cultivated culture at your company. So whether you are looking for testers to 'find bugs' or testers to 'prevent bugs' (a trendy thing to say these days) or testers to 'automate your troubles away' - Qxf2 can do that and whole lot more!</p>
      </div>
      <div class="col-md-6 vcenter">
	<img src="./assets/img/qxf2_need_more_testers_2.png" class="img-responsive col-lg-12">	
      </div>
    </div>
  </div>
</div>
<div class="col-md-12"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
</div>
