
  <div class="col-md-10 col-md-offset-1 top-space-30">
    <div class="col-md-12 img-rounded">
      <div class="col-md-9 vcenter top-space-30">
	<p class="text-justify testimonial">The offset in time was a boon to our productivity since they were able to test functionality delivered overnight and inform developers of any defects found with reproducible steps and established priority for fixing first thing in the morning. However that offset did not negatively impact the team since they were present throughout the morning into the middle of the afternoon. All in all <strong>Qxf2 allowed us to be a hyper effective software engineering team</strong>.</p>
	<p class="text-right testimonial"><strong>E. Andres Holzer-Torres</strong>, Software Engineer @ Pascal Metrics</p>
      </div>
      <div class="col-md-3 vcenter">
	<img src="./assets/img/testimonials/andres.png" class="img-responsive img-circle col-lg-12 top-space">	
      </div>
    </div>
  </div>
  <div class="col-md-12 top-buffer"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12">
  </div>

  <div class="col-md-10 col-md-offset-1 top-space-20">
    <div class="col-md-12">
      <p class="text-justify">
	Time zone differences are a double edged sword. At Qxf2, we have made simple adjustments to our work habits to ensure time zone differences end up speeding up the software development cycle. 
	<ol>
	  <li>Our testers <strong>attend all your Scrum rituals</strong> - stand-ups, sprint planning, reviews, demos and retrospectives. This ensures that every billable tester can contribute to the important decisions being made.</li>
	  <li>We make sure to provide a reasonable amount of <strong>time overlap</strong> with all our clients.</li>
	  <li>All <strong>our employees enjoy felxible work schedules</strong> within Qxf2. Working through the day, commuting back home in traffic and then jumping on calls in the night can take a toll on productivity. Our employees have the freedom to work from home and set their own timings. And this keeps them productive while allowing them to have a good work-life balance.</li>
	</ol>
      </p>
      <img src="./assets/img/qxf2_attend_stand_up.jpg" class="img-responsive col-md-12">
    </div>
  </div>
  <div class="col-md-12 top-buffer"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12">
  </div>

  <div class="col-md-10 col-md-offset-1 top-space-20">
    <div class="col-md-12">
      <p class="text-justify top-space-25">
	<strong>Pro tip:</strong> You can help us by doing three simple things:
	<ol>
	  <li> Set us up with one click deploys to the QA environment(s)</li>
	  <li> Give us SSH access to your QA servers so we can troubleshoot when deploys go bad</li>
	  <li> Give us access to your code review tool. It helps us understand the potential impact of your recent changes</li>
	</ol>
      </p>
    </div>
  </div>


