
<div class="col-md-10 col-md-offset-1 top-space-30">
  <div class="col-md-12">
    <div class="row-fluid">
      <p class="text-justify">
	Based on availability, we offer the free 2-week trial to revenue generating (or funded) startups with at least 3 developers employed full time. 
      </p>
      <!--div class="col-md-6 vcenter"-->
      <h1 class="margin-base-vertical text-center">What you get in the two week trial period</h1>
      <p><span class="text-success">&#10004;</span> an overview of your <strong>test strategy</strong></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&bull; mind maps &bull; ACC model &bull; layers model</p>
      <p><span class="text-success">&#10004;</span> your first <strong>automated test</strong></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&bull; typically an end to end scenario &bull; Python &bull; Selenium &bull; Appium (Android)</p>
      <p><span class="text-success">&#10004;</span> a robust <strong>page object implementation</strong> for GUI automation</p>
      <p><span class="text-success">&#10004;</span> out of the box reporting to <strong>TestRail, Sauce Labs and BrowserStack</strong></p>
      <p><span class="text-success">&#10004;</span> one hour tutorial on using and enhancing our light-weight <strong>automation framework</strong></p>
    </div>
  </div>
</div>
<div class="col-md-12 top-buffer"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
</div>
<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div class="row-fluid">
      <!--div class="col-md-6 vcenter"-->
      <h1 class="margin-base-vertical text-center">Your time commitment</h1>
      <p class="text-justify">
	During the two week trial period, you need to give us:
      <p>1. access to your test environment</p>
      <p>2. a brief tour of your product</p>
      <p>3. time with the product owner (~2 hours over Day 1-3)</p>
      <p>4. time with a developer (~2 hours over Day 4-5)</p>
      <p>5. time with DevOps (~2 hours over Day 6-7)</p>
      <p>6. time with engneering head (~2 hours on Day 1,10)</p>
      </p>
    </div>
  </div>
</div>
<div class="col-md-12 top-buffer"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
</div>
<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div class="row-fluid">
      <!--div class="col-md-6 vcenter"-->
      <h1 class="margin-base-vertical text-center">What to expect in a two week trial</h1>
      <p class="text-justify">
	Here is an outline of a typical trial. We will modify it slightly to suit your needs. 
      </p>
      <table class="table table-bordered table-striped">
	<thead>
	  <tr>
	      <th class="text-center col-md-1">Day(s)</th>
	      <th class="text-center col-md-5">Activities</th>
	      <th class="text-center col-md-6">Notes</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>1</td>
	    <td>
	      <ul>
		<li>Meet the team (~30-45 mins)</li>
		<li>Get setup with access</li>
		<li>Product tour (60-120 mins)</li>
	      </ul>
	    </td>
	    <td><strong>Product owner</strong> should prepare a brief product tour</td>
	  </tr>
	  <tr>
	    <td>2-3</td>
	    <td>
	      <ul>
		<li>Exploratory testing</li>
		<li>Visualize product</li>
		<li>Identify end to end workflow to automate</li>
	      </ul>
	    </td>
	    <td>We typically Skype the <strong>product owner</strong> with our questions</td>
	  </tr>
	  <tr>
	    <td>4-5</td>
	    <td>
	      <ul>
		<li>Automate end to end workflow</li>
		<li>Ask for mocks if necessary</li>
	      </ul>
	    </td>
	    <td>We usually work with your <strong>developers</strong> when we have technology and architecture related questions.</td>
	  </tr>
	  <tr>
	    <td>6</td>
	    <td>
	      <ul>
		<li>Demo of automation</li>
		<li>Automation code refactor</li>
		<li>Jenkins integration</li>
	      </ul>
	    </td>
	    <td>We need to work with your <strong>Systems/IT</strong> people to configure Jenkins</td>
	  </tr>
	  <tr>
	    <td>7</td>
	    <td>
	      <ul>
		<li>TestRail integration (30 day trial)</li>
		<li>Sauce Labs integration (30 day trial)</li>
		<li>Automation refactor and code clean up</li>
	      </ul>
	    </td>
	    <td>Usually clients ask us about other testing problems - performance tests, mobile automation, better exploratory testing, unit testing, etc.</td>
	  </tr>
	  <tr>
	    <td>8</td>
	    <td>
	      <ul>
		<li>Tutorial prep</li>
		<li>Enhance automation to show examples</li>
	      </ul>
	    </td>
	    <td>Usually clients ask us about other testing problems - performance tests, mobile automation, better exploratory testing, unit testing, etc.</td>
	  </tr>
	  <tr>
	    <td>9</td>
	    <td>
	      <ul>
		<li>Demo to the sprint team</li>
		<li>Tutorial on using/enhancing automation</li>
		<li>Questions</li>
	      </ul>
	    </td>
	    <td>We'd love to have open sessions with the <strong>QA team</strong></td>
	  </tr>
	  <tr>
	    <td>10</td>
	    <td>
	      <ul>
		<li>Report writing</li>
		<li>Clean up (credentials, accounts, etc.)</li>
	      </ul>
	    </td>
	    <td>We like ending with a 1:1 with the <strong>head of engineering</strong>.</td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-12 top-buffer"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-lg-12">
</div>
<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <h1 class="margin-base-vertical text-center">Sign up for a free two week trial</h1>
    <div class="row-fluid">
      <div class="col-md-6 vcenter">
	<img src="./assets/img/qxf2_trial.png" class="img-responsive img-circle col-lg-12">
	<p class="text-justify grey_text">Based on availability, we offer a free 2-week trial for revenue generating/funded startups with at least 3 full time developers.</p>
      </div>
      <div class="col-md-6 form-style vcenter" id="contact_form">
	<div id="contact_results"></div>
	<div id="contact_body">
	  <div id="contact_results"></div>
	  <div id="contact_body">
	    <label><span>Name <span class="required">*</span></span>
	      <input type="text" name="name" id="name" required="true" class="input-field" placeholder="So we can greet you."/>
	    </label>
	    <label><span>Email <span class="required">*</span></span>
	      <input type="email" name="email" required="true" class="input-field" placeholder="No spam. Ever."/>
	    </label>
	    <label for="field5"><span>Message <span class="required">*</span></span>
	      <textarea name="message" id="message" class="textarea-field" required="true" placeholder="Tell us about your project/engagement. Qxf2 is standing by to help you!"></textarea>
	    </label>
	    <label>
	      <p class="text-center"><a class="btn btn-success btn-large" id="submit_btn" value="Submit">Get in touch!</a></p>
	    </label>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
