
<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12 top-space-30">
    <div class="row-fluid">
      <!--div class="col-md-6 vcenter"-->
      <p class="text-justify">
	Based on availability, we offer the free 2-week trial to revenue generating (or funded) startups with at least 3 developers employed full time. Here is an outline of a typical trial. We will modify it slightly to suit your needs. 
      </p>
      <h1 class="margin-base-vertical text-center">What to expect in a two week trial</h1>
      <table class="table table-bordered table-striped">
	<thead>
	  <tr>
	      <th class="text-center col-md-1">Day(s)</th>
	      <th class="text-center col-md-5">Activities</th>
	      <th class="text-center col-md-6">Notes</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>1</td>
	    <td>
	      <ul>
		<li>Meet the team (~30-45 mins)</li>
		<li>Get setup with access</li>
		<li>Product tour (60-120 mins)</li>
	      </ul>
	    </td>
	    <td><strong>Product owner</strong> should prepare a brief product tour</td>
	  </tr>
	  <tr>
	    <td>2-3</td>
	    <td>
	      <ul>
		<li>Exploratory testing</li>
		<li>Visualize product</li>
		<li>Identify end to end workflow to automate</li>
	      </ul>
	    </td>
	    <td>We typically Skype the <strong>product owner</strong> with our questions</td>
	  </tr>
	  <tr>
	    <td>4-5</td>
	    <td>
	      <ul>
		<li>Automate end to end workflow</li>
		<li>Ask for mocks if necessary</li>
	      </ul>
	    </td>
	    <td>We usually work with your <strong>developers</strong> when we have technology and architecture related questions.</td>
	  </tr>
	  <tr>
	    <td>6</td>
	    <td>
	      <ul>
		<li>Demo of automation</li>
		<li>Automation code refactor</li>
		<li>Jenkins integration</li>
	      </ul>
	    </td>
	    <td>We need to work with your <strong>Systems/IT</strong> people to configure Jenkins</td>
	  </tr>
	  <tr>
	    <td>7</td>
	    <td>
	      <ul>
		<li>TestRail integration (30 day trial)</li>
		<li>Sauce Labs integration (30 day trial)</li>
		<li>Automation refactor and code clean up</li>
	      </ul>
	    </td>
	    <td>Usually clients ask us about other testing problems - performance tests, mobile automation, better exploratory testing, unit testing, etc.</td>
	  </tr>
	  <tr>
	    <td>8</td>
	    <td>
	      <ul>
		<li>Tutorial prep</li>
		<li>Enhance automation to show examples</li>
	      </ul>
	    </td>
	    <td>Usually clients ask us about other testing problems - performance tests, mobile automation, better exploratory testing, unit testing, etc.</td>
	  </tr>
	  <tr>
	    <td>9</td>
	    <td>
	      <ul>
		<li>Demo to the sprint team</li>
		<li>Tutorial on using/enhancing automation</li>
		<li>Questions</li>
	      </ul>
	    </td>
	    <td>We'd love to have open sessions with the <strong>QA team</strong></td>
	  </tr>
	  <tr>
	    <td>10</td>
	    <td>
	      <ul>
		<li>Report writing</li>
		<li>Clean up (credentials, accounts, etc.)</li>
	      </ul>
	    </td>
	    <td>We like ending with a 1:1 with the <strong>head of engineering</strong>.</td>
	  </tr>
	</tbody>
      </table>
      <p class="text-center top-space-20">
	<span class="tab-space"><a class="btn btn-danger btn-lg" href="./trial" onClick="_gaq.push(['_trackEvent', 'Trial-Trial', 'Click', 'Two week trial']);">Sign up for the free two week trial!</a></span>
      </p>
    </div>
  </div>
</div>
