
<div class="col-md-12"><!--Separator-->
  <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
</div>

<div class="col-md-10 col-md-offset-1 top-space-20">
  <div class="col-md-12">
    <h2 class="grey_text text-center">Unit testing: DIY guides</h2>
    <p class="text-justify">Heard of unit testing but never dared try it for yourself? Our tutorials will show you how to get started with unit testing. The tutorials come with examples that will help you practice and expand on what we outline.</p>
  </div>
  <div class="col-md-12"><!--Separator-->
    <img src="./assets/img/cut_line.png" class="img-responsive col-md-12 top-buffer">
  </div>

  <div class="col-md-12 top-space">
    <p class="text-justify top-space-20">
      <strong>1. <a href="http://qxf2.com/blog/python-unit-checks/" class="text-danger"><u>PYTHON UNIT TESTING</u></a></strong> <span class="label label-success">Beginner</span><br>
      New to unit testing in Python? We explore the Python module <strong>mock</strong>, show you a detailed example of unit testing on an open source application.  
    </p>
    <p class="text-justify top-space-20">
      <strong>2. <a href="http://qxf2.com/blog/junit-tutorial-beginners/" class="text-danger"><u>JUNIT TUTORIAL FOR BEGINNERS</u></a></strong> <span class="label label-success">Beginner</span><br>
      A JUnit tutorial written specifically for absolute beginners. We show you every step - right from getting started with Eclipse to how to debug test failures.
    </p>
    <p class="text-justify top-space-20">
      <strong>3. <a href="http://qxf2.com/blog/get-started-with-testng/" class="text-danger"><u>TestNG TUTORIAL</u></a></strong> <span class="label label-success">Beginner</span><br>
      We wrote this post for testers who want to get started with TestNG. You will learn about some popular annotations used in TestNG. We also show you how to parameterize your automated checks.
    </p>
    <p class="text-justify top-space-20">
      <strong>4. <a href="http://qxf2.com/blog/javascript-unit-testing-jasmine/" class="text-danger"><u>JavaScript UNIT TESTING WITH JASMINE</u></a></strong> <span class="label label-success">Beginner</span><br>
      This post will teach you to write JavaScript unit tests using Jasmine in under 60 minutes. This tutorial is aimed at absolute beginners. 
    </p>
    <p class="text-justify top-space-20">
      <strong>5. <a href="http://qxf2.com/blog/android-unit-testing-robolectric-tutorial/" class="text-danger"><u>ANDROID UNIT TESTING</u></a></strong> <span class="label label-success">Beginner</span><br>
      There are not many good tutorials on Android unit testing. In this tutorial we will walk you through two examples. One example showing you how to use the <a href="http://developer.android.com/tools/testing/testing_android.html">Android testing framework</a>. Another example showing you how to use <a href="http://robolectric.org/">Robolectric</a>. 
    </p>
  </div>
</div>
