<!--
Testing: The way I see it.
The way I see testing.
You are a smart guy. Why are you a tester?
"You seem like a smart guy ..."

Overview
* Large unsolved problems
* Favorable technical trends
* The golden age of software testing will happen in my career. 

Large unsolved problems: We suck, nba team winning a championship, building a team
current - "what conditions produce remarkable software?"

Favorable technical trends:
-- parallel
-- distributed
-- mobile
-- converging hardware and software
-- scale

The golden age of software testing is fast approaching.


Kent Beck: https://www.facebook.com/notes/kent-beck/things-are-mostly-the-same-differences/824835944215938
* Computers are sometimes more expensive than programmers again, sometimes
* 24/7/365, both technical and organizational changes
* Deployment continues to become more frequent

A longer timeframe?
I enjoy the intellectual challenge:?
Outlet to express ideas??
The golden age of software testing will happen during my career.
Require testers to be well read, observant and 


Images
* "You seem like a smart guy ..."
* "What conditions produce remarkable software?"
* Technical trends
* --Over what time frame?--
* --Venn diagram of interests? (math, abstract thinking, software, detective skills, behavioral psychology, drawing)--
* The golden age, my career
-->



  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-12">
	<p class="text-justify">I am a professional software tester. I have chosen testing as my career. A choice that confounds some of my well meaning friends and colleagues. This piece lays out how why testing is a perfectly acceptable career choice for a "smart" person.</p>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-12">
      <br>
      <div class="tagline">
        <h2 class="text-center"></h2>
      </div>
      <br>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-12">
      <p class="text-justify"></p>
    </div>
    <div class="col-md-12"><!--Separator-->
      <hr class="fancy-line"></hr>
    </div>
  </div>
