html {
    background: rgba(255, 255, 255, 1.0) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding-top: 10px;
    font-size: 16px;
    font-family: "Open Sans",serif;
    background: transparent;
    color: #0a0a0a;
    /*
    background-image: url("../img/qxf2_glossy_background.png");
    background-size: cover;
    background-repeat: repeat-y;*/
}

h1 {
    font-family: "Abel", Arial, sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #000000;    
    line-height: 1.5;
}

p {
    line-height: 2.0;
}

li {
    line-height: 2.0;
}

/* Override B3 .panel adding a subtly transparent background */
.panel {
    background-color: rgba(255, 255, 255, 1.0);
    /*border: thin solid #c2c4c6; /*#cb9966;*/
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel-blue
{
    background-color: rgba(222, 225, 227,0.95);
    /*border: thin solid #f2f5f7;*/
    padding-top: 5px;
    padding-bottom: 5px;
}

.margin-base-vertical {
    margin: 20px 20px;
}

.container{
    padding-top: 2px;
    padding-bottom: 2px;
}

.qxf2_nav tr { line-height: 25px; }      

.qxf2_copyright {
    font-family: "Abel", Arial, sans-serif;
    font-size: 12px;
}

.inner-item {
    text-align: center;
    img {
	margin: 0 auto;}
}

.tagline h1{
    color: #222222;
    font-family: "SourceSansPro", "Abel", Arial, sans-serif;
    font-size: 2.0em;
    font-weight: 200;
    line-height: 2.0;
}

.tagline span{
    color: #de3f2c;
    font-weight: 700;
}

/*Vertical align content of some elements*/
.vcenter{
    vertical-align: middle;
}

/* form style */
.form-style{
	/*max-width: 450px;*/
	padding: 3px 30px 40px 40px;
	font: "Abel", Arial, Helvetica, sans-serif;
	margin: 20px auto;
	background: #FFFFFF;
	/*border-radius: 1px;
    -webkit-border-radius:1px;
    -moz-border-radius:5px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);*/
}
.form-style-heading{
    font-family: "Abel", Arial, sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    font-size: 25px;
    padding-bottom: 3px;
}
.form-style label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style span.required{
    color:red;
}
.form-style .tel-number-field{
    width: 40px;
    text-align: center;
}
.form-style  .long{
    width: 120px;
}
.form-style input.input-field{
    width: 100%;
   
}

.form-style input.input-field,
.form-style .tel-number-field,
.form-style .textarea-field,
 .form-style .select-field{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out; 
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style .input-field:focus,
.form-style .tel-number-field:focus,
.form-style .textarea-field:focus,  
.form-style .select-field:focus{
    border: 1px solid #0C0;
}
.form-style .textarea-field{
    height:150px;
    width: 100%;
}
.form-style .success{
	background: #D8FFC0;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 5px 0px;
	border: none;
	font-weight: bold;
	color: #2E6800;
	border-left: 3px solid #2E6800;
}
.form-style .error {
	background: #FFE8E8;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 5px 0px;
	border: none;
	font-weight: bold;
	color: #FF0000;
	border-left: 3px solid #FF0000;
}



/*Fancy horizontal lines*/
hr.fancy-line { 
    border: 0; 
    background-image: url(../img/cut_line.png);
}

/*Bootstrap table with no borders*/
.borderless td, .borderless th {
    border: none;
}

/*Better margins in tables*/
.table-responsive td{
    padding:10px;
}

/*Button spacing with text*/
span.tab-space {
    padding-left:1em;
}

/*Add vertical space with line separator*/
.top-buffer { 
    margin-top:20px;
    margin-bottom:20px; 
}

/*Testimonial*/
p.testimonial{
    line-height: 2.0;
    font-family: "Open Sans","Abel",Arial, sans-serif;
    font-size: 12px;
}

/*Contact Intro*/
p.contact-intro{
    line-height: 1.5;
    color: #7e7e7e;    
}

/*h2 index*/
h2.grey_text{
    color: #7e7e7e;    
    margin-top: 5px;
}

/*We'll show you how index*/
p.grey_text{
    color: #7e7e7e; 
    font-size: 14px;
}

/*header img for blush*/
.header_img{
    float:right;
    max-width:40px;
}

/*Add vertical space above divs*/
.top-space-5 { 
    margin-top:5px;
}

.top-space { 
    margin-top:10px;
}

.top-space-15 { 
    margin-top:15px;
}

.top-space-20 { 
    margin-top:20px;
}

.top-space-25 { 
    margin-top:25px;
}

.top-space-30 { 
    margin-top:30px;
}

.top-space-40 { 
    margin-top:40px;
}

.top-space-50 { 
    margin-top:50px;
}

/*Vertically align images to the center*/
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; 
  display: flex;
  align-items: center;
}

/*Divs of equal height?*/
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/*Dark blue links*/
a.blue-link{
    color:#0000FF;
}

/*Logo*/
img.logo{
    max-height: 100px;
    max-width: 100px;
}

/*Banner text brown*/
.banner-brown{
    color: #880000;
    display:inline;
}

/*Banner grey text*/
.banner-grey{
    color: #7e7e7e;
    display:inline;
    padding-left: 0.5em;
}

/*Remove link underline*/
a.nounderline{
    text-decoration: none;
}

/*Small font size for names in testimonials*/
.small-names{
    font-size: 14px;
}

/*Sub menu pulled right*/
/*Src: http://www.bootply.com/6Rxq5saIeX*/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:-100%;
    margin-top:-6px;
    margin-right:-1px;
    -webkit-border-radius:6px 6px 6px 6px;
    -moz-border-radius:6px 6px 6px 6px;
    border-radius:6px 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:left;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 5px 5px 0;
    border-right-color:#999;
    margin-top:5px;
    margin-right:10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left{
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 6px 6px 6px;
    -moz-border-radius:6px 6px 6px 6px;
    border-radius:6px 6px 6px 6px;
}
.dropdown-menu-right {
    margin-left:0;
}

img.menu-img{
    cursor:pointer;
    cursor:hand;
    max-height: 100px;
    max-width: 100px;
}